In [1]:
import pandas as pd

### Baseline model: our book recommender recommends the books with the highest average ratings & highest rating counts ###

In [4]:
data = pd.read_csv('data/averageRatingdf.csv')  
data.head()

,book_title,book_author,isbn,rating_count,average_rating,mod_titles
0,A Light in the Storm: The Civil War Diary of ...,Karen Hesse,0590567330,4,2.2,a light in the storm the civil war diary of a...
1,Always Have Popsicles,Rebecca Harvin,0964147726,1,0.0,always have popsicles
2,Apple Magic (The Collector's series),Martina Boudreau,0942320093,1,0.0,apple magic the collector s series
3,"Ask Lily (Young Women of Faith: Lily Series, ...",Nancy N. Rue,0310232546,1,8.0,ask lily young women of faith lily series boo...
4,Beyond IBM: Leadership Marketing and Finance ...,Lou Mobley,0962295701,1,0.0,beyond ibm leadership marketing and finance f...

In [14]:
# sort highest average ratings

high_ratings = data.sort_values(by='average_rating', ascending=False).head(10)
high_ratings

,book_title,book_author,isbn,rating_count,average_rating,mod_titles
241906,The day after judgment: A novel,James Blish,0571094503,1,10.0,the day after judgment a novel
240798,The World Out There: Becoming Part of the Lesb...,Michael Thomas Ford,1565842340,1,10.0,the world out there becoming part of the lesbi...
58620,Discovering French Blanc Level 2,Valette,0395866642,1,10.0,discovering french blanc level 2
170023,Rules for Roommates: The Ultimate Guide to Rec...,Mary Lou Podlasiak,0595129838,1,10.0,rules for roommates the ultimate guide to recl...
58626,Discovering Great Music: A New Listener's Guid...,Roy Hemming,1557040273,1,10.0,discovering great music a new listener s guide...
240877,The World of Tiers: Volume One (World of Tiers),Philip Jose Farmer,0312857616,1,10.0,the world of tiers volume one world of tiers
58628,Discovering H.P. Lovecraft,Darrell Schweitzer,1587154714,1,10.0,discovering h p lovecraft
240883,The World of Wizards : Modern Magical Tools an...,Anton Adams,1586637568,1,10.0,the world of wizards modern magical tools and ...
240885,The World of Zines: A Guide to the Independent...,Mike Gunderloy,014016720X,1,10.0,the world of zines a guide to the independent ...
170018,Rules for Civilized Behavior,Sydney Morgan D'Angelo,0595218466,1,10.0,rules for civilized behavior

In [16]:
#sort high rating count

high_count = data.sort_values(by='rating_count', ascending=False).head(10)
high_count

,book_title,book_author,isbn,rating_count,average_rating,mod_titles
263401,Wild Animus,Rich Shapero,0971880107,2502,1.0,wild animus
220079,The Lovely Bones: A Novel,Alice Sebold,0316666343,1295,4.5,the lovely bones a novel
205459,The Da Vinci Code,Dan Brown,0385504209,883,4.7,the da vinci code
59121,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,0060928336,732,3.4,divine secrets of the ya ya sisterhood a novel
229201,The Red Tent (Bestselling Backlist),Anita Diamant,0312195516,723,4.3,the red tent bestselling backlist
5790,A Painted House,John Grisham,044023722X,647,3.2,a painted house
231647,The Secret Life of Bees,Sue Monk Kidd,0142001740,615,4.2,the secret life of bees
181982,Snow Falling on Cedars,David Guterson,067976402X,614,3.3,snow falling on cedars
15988,Angels &amp; Demons,Dan Brown,0671027360,586,3.7,angels amp demons
261664,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,0446672211,585,4.1,where the heart is oprah s book club paperback

In [12]:
recommendations = data.sort_values(by=['average_rating', 'rating_count'], ascending=[False, False])
top_10_recs = recommendations.head(10)
top_10_recs

,book_title,book_author,isbn,rating_count,average_rating,mod_titles
219755,The Lord of the Rings (Leatherette Collector's...,J. R. R. Tolkien,0395193958,6,10.0,the lord of the rings leatherette collector s ...
25168,Betsy and Joe (Betsy &amp; Tacy),Maud Hart Lovelace,006440546X,4,10.0,betsy and joe betsy amp tacy
37660,Charlottes Web Special Read Along Edition,E B White,0760707251,4,10.0,charlottes web special read along edition
38750,Chimps Don't Wear Glasses,Laura Numeroff Joffe,0689801505,4,10.0,chimps don t wear glasses
39739,Cinder Edna,Ellen Jackson,0688123228,4,10.0,cinder edna
58339,Dinotopia: A Land Apart from Time (Dinotopia),James Gurney,0060280034,4,10.0,dinotopia a land apart from time dinotopia
99319,I Spy Treasure Hunt: A Book of Picture Riddles...,Walter Wick,0439042445,4,10.0,i spy treasure hunt a book of picture riddles ...
196534,The Annotated Alice: The Definitive Edition,Lewis Carroll,0393048470,4,10.0,the annotated alice the definitive edition
32167,"Bug, Witch and the Robot",Pete Abrams,1929462379,3,10.0,bug witch and the robot
44227,Cooking with Mickey &amp; Friends : More Than ...,Patricia Baird,0786831901,3,10.0,cooking with mickey amp friends more than 30 r...