## No Need To Run This Notebook!
This notebook is only there to document what was done during the data preprocessing.

In [1]:
%run import_data.ipynb

Dataset books.csv loaded successfully
isbn column dropped, isbn13 column kept
Language codes eng, en-US, en-GB, en-CA unified to 'en'
Missing publication dates filled in
2nd (large) dataset is being loaded...
Pandas dataframes (books_df, books_big, users, ratings) loaded successfully
Columns renamed and dates converted to dtype: datetime
replacing author fetching errors and missing values with NA
dataframe books copied from books_big for ease of use
replacing genre fetching errors with NA
missing values in books dataframe turned into pd.NA for more accurate analysis
Ready to go!

In [2]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226493 entries, 0 to 226492
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 226493 non-null  object
 1   book_title           226493 non-null  object
 2   book_author          226322 non-null  object
 3   year_of_publication  226493 non-null  int32
 4   publisher            226493 non-null  object
 5   image_url_s          226493 non-null  object
 6   image_url_m          226493 non-null  object
 7   image_url_l          226493 non-null  object
 8   genre                225590 non-null  object
dtypes: int32(1), object(8)
memory usage: 14.7+ MB

In [3]:
books.shape

(226493, 9)

In [6]:
# There are missing values in the columns 'book_author' and 'genre'
# Both of them are string values
# For the deployment, we will turn those into empty strings ""ArithmeticError
books['genre'] = books['genre'].replace(pd.NA, "")
books['book_author'] = books['book_author'].replace(pd.NA, "")

In [7]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226493 entries, 0 to 226492
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 226493 non-null  object
 1   book_title           226493 non-null  object
 2   book_author          226493 non-null  object
 3   year_of_publication  226493 non-null  int32
 4   publisher            226493 non-null  object
 5   image_url_s          226493 non-null  object
 6   image_url_m          226493 non-null  object
 7   image_url_l          226493 non-null  object
 8   genre                226493 non-null  object
dtypes: int32(1), object(8)
memory usage: 14.7+ MB

In [8]:
books.year_of_publication.describe()

count    226493.000000
mean       1993.548105
std           8.496009
min        1806.000000
25%        1989.000000
50%        1996.000000
75%        2000.000000
max        2021.000000
Name: year_of_publication, dtype: float64

In [11]:
books.to_csv("data/books_for_ivan.csv", sep=';', encoding='utf-8', index=False)