In [1]:
import pandas as pd
import numpy as np
from copy import copy
from surprise import Dataset
from surprise import Reader
from surprise import KNNWithMeans, SVD
from surprise.model_selection import GridSearchCV
from surprise.model_selection import train_test_split
from surprise import accuracy
from collections import defaultdict

In [2]:
%run import_data_.py

Continuing with existing version of data folder
Goodreads dataset loaded successfully as books_goodreads
Pandas dataframes (books_goodreads, books_big, book, users, ratings) loaded successfully
Columns in DataFrames 'users' and 'ratings' renamed
You can use the DataFrames 'books' or 'books_big' - they are exactly the same (big) dataset
loading books_ratings and books_users_ratings
Ready to go!

#### We want to find users with similar taste in books and try to predict what we will like based on what they like ####

##### step 1: what do I like? #####

In [3]:
# !jupyter nbconvert --to notebook --execute --inplace --no-input test_content_rec_Susanne_Lay.ipynb

In [5]:
data = pd.read_csv('../data/books_ratings.csv')
data.head()

,isbn,book_title,book_author,year_of_publication,publisher,genre,user_id,book_rating
0,068160204X,The Royals,Kitty Kelley,2020,Bausch & Lombard,NaN,16634,0
1,068160204X,The Royals,Kitty Kelley,2020,Bausch & Lombard,NaN,87141,0
2,068160204X,The Royals,Kitty Kelley,2020,Bausch & Lombard,NaN,169736,7
3,068160204X,The Royals,Kitty Kelley,2020,Bausch & Lombard,NaN,208406,0
4,068160204X,The Royals,Kitty Kelley,2020,Bausch & Lombard,NaN,230496,0

In [6]:
average_rating = pd.read_csv('../data/averageRatingdf.csv')
average_rating.head()

,book_title,book_author,isbn,rating_count,average_rating,mod_titles
0,!%@ (A Nutshell handbook),Donnalyn Frey,1565920317,1,6.0,A Nutshell handbook
1,!%@ (A Nutshell handbook),Donnalyn Frey,1565920465,1,0.0,A Nutshell handbook
2,$30 Film School,Michael W. Dean,1592000673,1,8.0,30 Film School
3,$oft Money: The True Power in Our Nation's Cap...,E. L. Burton,1588204030,5,5.4,oft Money The True Power in Our Nation s Cap...
4,' Mein verwundetes Herz'. Das Leben der Lilli ...,Martin Doerry,342105634X,1,9.0,Mein verwundetes Herz Das Leben der Lilli ...

In [7]:
data['user_id'] = data['user_id'].astype('str')

In [8]:
# filtering user_id who read and rated more than 15 books
user_counts = data['user_id'].value_counts()
data_users = data[data['user_id'].isin(user_counts[user_counts >= 15].index)]
data_users.sample(10)

,isbn,book_title,book_author,year_of_publication,publisher,genre,user_id,book_rating
72116,042517400X,"Night Moves (Tom Clancy's Net Force, No. 3)",Tom Clancy,2000,Berkley Publishing Group,"Computer crimes, Fiction, Investigation, Compu...",76352,0
17674,184023492X,Tank Girl 2,Jamie Hewlett,2003,Titan Books (UK),"Comic books, strips, Deserts, Punk culture, Ta...",76626,0
114172,1573225789,The Color of Water: A Black Man's Tribute to H...,James McBride,1997,Riverhead Books,"Mulattoes, Race identity, Mothers, Racially mi...",35859,0
102385,155166304X,Here And Then,Linda Lael Miller,1997,Mira,"Fiction, Romance, Contemporary, Time Travel, F...",226545,0
45603,8420443107,Con Animo De Ofender,Arturo Perez-Reverte,2001,"Alfaguara Ediciones, S.A. (Spain)","Literature, Humanities, Editors, Felietony his...",39467,8
141421,1560769319,Tales of Ravenloft (Ravenloft),Brian Thomsen,1994,Wizards of the Coast (Mm),NaN,212898,0
23367,1551669234,Stonebrook Cottage,Carla Neggers,2002,Mira,"Detective and mystery stories, Fiction, romanc...",246655,0
10890,031298328X,Full Tilt (Janet Evanovich's Full Series),Janet Evanovich,2003,St. Martin's Paperbacks,"Max Holt (Fictitious character), Detective and...",238781,0
87457,1568957602,Eye of the Beholder (Wheeler Large Print Book ...,Jayne Ann Krentz,1999,Wheeler Publishing,"Fiction, New Age movement, Women art dealers, ...",197775,0
15599,184068108X,Bad Wisdom,Bill Drummond,2003,Creation Books,"Polar regions, description and travel, North pole",170513,0

In [10]:
# creating list of books for one reference user

books_read = data[data['user_id'] == '114368']
books_read

,isbn,book_title,book_author,year_of_publication,publisher,genre,user_id,book_rating
221,042517140X,Loyalty in Death,J. D. Robb,2004,Berkley Publishing Group,"Fiction, Eve Dallas (Fictitious character), Po...",114368,5
2034,037379133X,Forbidden (Harlequin Blaze),Tori Carrington,2004,Harlequin,"Fiction, Passion, Romance, Large type books, C...",114368,0
2161,037383599X,Simply Sensual (Harlequin Single Title),Carly Phillips,2004,Harlequin,"Fiction, Bodyguards, Children of the rich in f...",114368,5
4208,1551667401,Out Of The Dark,Sharon Sala,2003,Mira,"Romance, Cults, Missing children, Ex-cultists,...",114368,5
4273,1551667436,Strange Bedpersons,Jennifer Crusie,2003,Mira,"Social action, Feminists, Conservatism, Ambiti...",114368,0
...,...,...,...,...,...,...,...,...
166713,044011585X,Crossings,DANIELLE STEEL,1987,Dell,"Fiction, World War, 1939-1945, Ocean travel, L...",114368,10
167136,037308529X,"Temptation (Silhouette Romance, No 529)",Nora Roberts,1987,Silhouette,"Open Library Staff Picks, Fiction, Camps for g...",114368,5
168482,082171838X,September Moon,Constance O'Banyon,1986,Zebra Books,NaN,114368,5
170307,037309230X,Sarah's Child (Silhouette Special Edition # 230),Linda Howard,1985,Silhouette,"Romance, Contemporary Romance, Fiction, Infant...",114368,5
183466,006440031X,The First Four Years (Little House),Laura Ingalls Wilder,1953,HarperTrophy,"Juvenile nonfiction, Frontier and pioneer life...",114368,5

In [11]:
# find similar users

In [12]:
# create a set of all the unique books that user has read
# create a set of all the unique books that user has read, including user_id

unique_books = set(books_read['isbn'])

In [13]:
len(unique_books)

100

In [14]:
# store any user that read the same book as us in the overlap_users dictionary
overlap_users = {}

# overlap_users is a dictionary with key = user_id and value is count of times that reader read a book that we also read  
for book in unique_books:
    for user in data[data['isbn'] == book]['user_id']:
        if user != '114368':
            if user in overlap_users:
                overlap_users[user] += 1
            else:
                overlap_users[user] = 1

In [15]:
len(overlap_users)

1567

In [16]:
overlap_users

{'31742': 1,
 '69042': 4,
 '76352': 19,
 '98104': 1,
 '98547': 4,
 '118275': 4,
 '118627': 1,
 '175003': 14,
 '184532': 3,
 '204591': 7,
 '212898': 8,
 '213998': 1,
 '227250': 6,
 '227520': 10,
 '228764': 13,
 '242006': 13,
 '242781': 1,
 '246671': 5,
 '247447': 12,
 '253821': 3,
 '264634': 2,
 '265889': 13,
 '269386': 1,
 '275481': 2,
 '278144': 1,
 '8245': 1,
 '14374': 1,
 '17282': 4,
 '17724': 1,
 '30972': 3,
 '31315': 4,
 '39616': 2,
 '40889': 8,
 '43006': 1,
 '43842': 5,
 '51350': 3,
 '60168': 1,
 '69697': 34,
 '77940': 16,
 '78783': 16,
 '79724': 1,
 '95991': 1,
 '107021': 9,
 '108480': 4,
 '111261': 2,
 '114414': 4,
 '115002': 2,
 '116599': 10,
 '119575': 3,
 '123388': 1,
 '123883': 15,
 '125063': 1,
 '126693': 3,
 '128738': 1,
 '128835': 4,
 '129084': 3,
 '130474': 10,
 '140293': 1,
 '145451': 16,
 '145619': 9,
 '151098': 3,
 '151537': 1,
 '151806': 1,
 '153718': 4,
 '156688': 1,
 '161903': 2,
 '168387': 2,
 '170575': 12,
 '177374': 9,
 '180917': 2,
 '185233': 12,
 '185254': 3,
 '194646': 1,
 '199494': 1,
 '200226': 9,
 '203805': 2,
 '206074': 4,
 '212965': 9,
 '214583': 1,
 '216683': 5,
 '217895': 1,
 '226545': 14,
 '227447': 12,
 '236283': 6,
 '239688': 3,
 '242824': 13,
 '247241': 2,
 '251613': 6,
 '257576': 1,
 '264082': 2,
 '266226': 2,
 '266807': 2,
 '273113': 7,
 '273252': 1,
 '13935': 1,
 '14683': 1,
 '23872': 2,
 '26535': 6,
 '55492': 15,
 '75860': 4,
 '95359': 2,
 '109427': 4,
 '111847': 2,
 '124487': 2,
 '124989': 5,
 '129358': 32,
 '131046': 7,
 '132173': 3,
 '177349': 2,
 '193898': 2,
 '213531': 3,
 '226031': 1,
 '233903': 3,
 '249688': 1,
 '264637': 4,
 '29867': 2,
 '48494': 6,
 '52199': 4,
 '68568': 2,
 '77790': 1,
 '90423': 1,
 '98647': 1,
 '125774': 6,
 '127203': 1,
 '152770': 2,
 '153662': 29,
 '181687': 2,
 '182414': 1,
 '186039': 2,
 '208829': 4,
 '210772': 1,
 '243651': 1,
 '254465': 9,
 '17763': 1,
 '30744': 3,
 '102702': 12,
 '123039': 1,
 '130570': 2,
 '142788': 1,
 '151946': 1,
 '172030': 7,
 '194287': 1,
 '207349': 10,
 '224764': 2,
 '229334': 2,
 '234359': 12,
 '267033': 3,
 '269321': 5,
 '274061': 4,
 '4144': 1,
 '5582': 1,
 '8284': 5,
 '10447': 1,
 '13552': 14,
 '16795': 16,
 '25409': 1,
 '30273': 1,
 '37224': 1,
 '38034': 1,
 '44728': 3,
 '47316': 3,
 '51495': 1,
 '55493': 1,
 '56554': 1,
 '76151': 3,
 '81492': 4,
 '83666': 2,
 '91113': 2,
 '91832': 2,
 '99347': 4,
 '112559': 2,
 '120735': 1,
 '127233': 3,
 '127359': 2,
 '128045': 1,
 '132118': 1,
 '132139': 1,
 '133868': 6,
 '139825': 1,
 '142398': 1,
 '143175': 2,
 '146803': 3,
 '154469': 3,
 '156467': 7,
 '158295': 5,
 '159858': 1,
 '162639': 5,
 '162827': 3,
 '165308': 3,
 '167327': 2,
 '167678': 2,
 '169677': 1,
 '170947': 1,
 '177113': 1,
 '182085': 10,
 '195694': 3,
 '196077': 5,
 '197609': 1,
 '206045': 2,
 '208897': 2,
 '217375': 6,
 '221445': 1,
 '223087': 1,
 '225810': 7,
 '228868': 1,
 '230971': 1,
 '231337': 1,
 '231857': 1,
 '242794': 2,
 '244688': 2,
 '251140': 1,
 '256407': 3,
 '258185': 8,
 '263645': 1,
 '265115': 4,
 '104636': 7,
 '125039': 1,
 '179733': 4,
 '219546': 2,
 '245410': 5,
 '71568': 4,
 '138441': 7,
 '277928': 1,
 '383': 1,
 '3363': 3,
 '8362': 1,
 '11224': 2,
 '11601': 2,
 '11676': 25,
 '12538': 4,
 '13280': 1,
 '15651': 1,
 '18172': 1,
 '20622': 1,
 '20971': 2,
 '23948': 1,
 '28069': 1,
 '28204': 1,
 '31466': 1,
 '31556': 3,
 '32440': 1,
 '34397': 2,
 '35859': 9,
 '37560': 1,
 '37950': 1,
 '39773': 2,
 '43896': 1,
 '44842': 1,
 '45383': 1,
 '45418': 1,
 '53566': 1,
 '54884': 1,
 '60130': 1,
 '60914': 1,
 '61619': 2,
 '61700': 1,
 '73603': 1,
 '81848': 1,
 '85268': 1,
 '85944': 1,
 '92979': 1,
 '93179': 1,
 '95741': 1,
 '97754': 1,
 '100815': 1,
 '101851': 1,
 '105517': 1,
 '112001': 2,
 '112026': 1,
 '114722': 1,
 '119488': 1,
 '122014': 2,
 '123790': 2,
 '124310': 2,
 '124574': 1,
 '124720': 1,
 '126903': 2,
 '127429': 3,
 '136473': 4,
 '137589': 1,
 '138641': 2,
 '139742': 1,
 '141719': 2,
 '144255': 1,
 '152020': 1,
 '159754': 1,
 '164367': 1,
 '166391': 2,
 '167189': 1,
 '170368': 1,
 '170518': 4,
 '172580': 1,
 '173415': 3,
 '174304': 2,
 '178522': 1,
 '179030': 1,
 '184513': 2,
 '185176': 1,
 '196738': 1,
 '198585': 1,
 '198711': 11,
 '203649': 2,
 '206567': 1,
 '209059': 1,
 '210535': 1,
 '211288': 1,
 '211770': 1,
 '213150': 2,
 '215388': 1,
 '219609': 1,
 '223391': 1,
 '226891': 1,
 '227961': 1,
 '233276': 1,
 '234597': 1,
 '234623': 7,
 '235105': 3,
 '236322': 1,
 '237521': 1,
 '238541': 1,
 '241641': 1,
 '241952': 1,
 '243759': 1,
 '245978': 1,
 '250330': 1,
 '250936': 1,
 '251003': 1,
 '255489': 4,
 '259922': 1,
 '260897': 1,
 '267061': 1,
 '274308': 2,
 '52614': 15,
 '70415': 2,
 '117719': 1,
 '278418': 8,
 '243': 1,
 '6575': 1,
 '9908': 2,
 '14422': 1,
 '28096': 1,
 '85486': 1,
 '94787': 1,
 '107784': 4,
 '123430': 1,
 '124597': 1,
 '134797': 3,
 '149802': 2,
 '159033': 5,
 '166596': 3,
 '166825': 1,
 '169682': 1,
 '171623': 1,
 '176975': 1,
 '224138': 2,
 '229551': 2,
 '235392': 2,
 '252071': 6,
 '1733': 3,
 '165232': 4,
 '186570': 3,
 '6251': 4,
 '11993': 1,
 '21014': 2,
 '40943': 7,
 '49889': 1,
 '51386': 1,
 '82171': 1,
 '100906': 1,
 '110973': 1,
 '114197': 1,
 '115490': 2,
 '135149': 6,
 '211961': 1,
 '234023': 1,
 '238961': 1,
 '259901': 1,
 '273979': 1,
 '77270': 1,
 '177690': 8,
 '182086': 6,
 '224206': 1,
 '229011': 4,
 '245257': 1,
 '253563': 1,
 '26028': 1,
 '26516': 3,
 '49109': 2,
 '67840': 2,
 '74709': 7,
 '74758': 4,
 '86202': 1,
 '105968': 3,
 '117251': 2,
 '127519': 1,
 '129238': 1,
 '138515': 1,
 '153723': 3,
 '160735': 5,
 '166922': 1,
 '182993': 2,
 '215702': 1,
 '238781': 10,
 '251422': 2,
 '254528': 1,
 '1812': 1,
 '8067': 4,
 '17667': 1,
 '51883': 2,
 '73394': 14,
 '127384': 1,
 '160819': 2,
 '166123': 6,
 '172742': 3,
 '176902': 1,
 '68998': 1,
 '85701': 2,
 '98391': 18,
 '161873': 1,
 '214436': 2,
 '215513': 1,
 '228998': 2,
 '233917': 3,
 '240756': 2,
 '242962': 2,
 '21268': 1,
 '31050': 4,
 '113633': 1,
 '164549': 1,
 '212923': 1,
 '251843': 3,
 '259035': 3,
 '273110': 1,
 '277945': 2,
 '254': 2,
 '2437': 1,
 '5868': 1,
 '9354': 1,
 '20201': 4,
 '28360': 1,
 '43806': 3,
 '51365': 1,
 '53664': 1,
 '64436': 4,
 '74493': 1,
 '78553': 2,
 '86641': 1,
 '95903': 1,
 '101209': 3,
 '102967': 9,
 '104211': 2,
 '114200': 1,
 '114413': 1,
 '124066': 1,
 '130438': 1,
 '134029': 1,
 '141127': 1,
 '143253': 7,
 '145752': 1,
 '149071': 1,
 '155444': 2,
 '159376': 3,
 '159822': 1,
 '161752': 1,
 '162311': 2,
 '178181': 2,
 '178240': 1,
 '181796': 2,
 '184424': 2,
 '187517': 2,
 '188583': 2,
 '194669': 3,
 '194676': 3,
 '201641': 4,
 '208147': 4,
 '208605': 1,
 '214138': 3,
 '218552': 1,
 '221777': 1,
 '221903': 1,
 '223892': 1,
 '224115': 1,
 '235099': 2,
 '243720': 1,
 '244445': 1,
 '252695': 3,
 '256844': 3,
 '258690': 2,
 '259930': 2,
 '264031': 3,
 '9899': 1,
 '42640': 1,
 '44296': 1,
 '45064': 1,
 '55858': 1,
 '59189': 7,
 '66680': 3,
 '81531': 2,
 '101566': 1,
 '120090': 2,
 '123981': 2,
 '127623': 3,
 '135458': 2,
 '147965': 5,
 '157247': 1,
 '161939': 1,
 '168064': 1,
 '181212': 1,
 '189565': 1,
 '230708': 1,
 '237990': 3,
 '242106': 4,
 '246655': 3,
 '266056': 1,
 '26544': 8,
 '27472': 3,
 '29888': 2,
 '41455': 1,
 '60858': 1,
 '68768': 1,
 '68836': 1,
 '70965': 1,
 '82831': 1,
 '87690': 1,
 '89391': 3,
 '111228': 1,
 '115120': 7,
 '115929': 1,
 '131057': 1,
 '132006': 1,
 '140334': 1,
 '143908': 1,
 '150968': 5,
 '161037': 1,
 '190925': 18,
 '196715': 1,
 '199219': 1,
 '217958': 1,
 '231694': 1,
 '232131': 1,
 '238222': 1,
 '238461': 1,
 '243585': 1,
 '250645': 3,
 '255546': 2,
 '262399': 3,
 '272423': 1,
 '3371': 1,
 '135265': 6,
 '735': 1,
 '4385': 3,
 '27813': 4,
 '29855': 4,
 '127200': 1,
 '153361': 2,
 '21356': 2,
 '38023': 2,
 '54218': 3,
 '60098': 1,
 '63997': 2,
 '210035': 1,
 '200674': 3,
 '136010': 3,
 '163148': 1,
 '169380': 2,
 '202036': 1,
 '233778': 1,
 '249723': 3,
 '250015': 1,
 '24921': 3,
 '26240': 1,
 '26803': 1,
 '81597': 2,
 '87141': 4,
 '88693': 4,
 '131837': 1,
 '147847': 3,
 '211919': 1,
 '215139': 2,
 '233529': 1,
 '247752': 3,
 '61854': 3,
 '106936': 1,
 '112541': 1,
 '234614': 1,
 '245963': 3,
 '251327': 1,
 '7158': 3,
 '31342': 1,
 '49154': 1,
 '55421': 1,
 '139890': 1,
 '184310': 1,
 '209518': 1,
 '240567': 1,
 '262407': 1,
 '259380': 2,
 '66385': 1,
 '92405': 6,
 '93868': 1,
 '125808': 2,
 '28591': 4,
 '88677': 2,
 '507': 1,
 '12515': 2,
 '114868': 4,
 '167223': 1,
 '220597': 4,
 '122716': 2,
 '126736': 2,
 '69232': 5,
 '76818': 1,
 '179772': 1,
 '263460': 1,
 '269890': 3,
 '20336': 1,
 '25261': 1,
 '25981': 4,
 '79186': 2,
 '111924': 1,
 '148744': 4,
 '182527': 2,
 '189516': 2,
 '222941': 1,
 '227851': 1,
 '264938': 1,
 '268330': 3,
 '30716': 1,
 '215136': 2,
 '261829': 7,
 '53515': 1,
 '63644': 1,
 '70543': 1,
 '104665': 4,
 '132392': 1,
 '132544': 5,
 '172061': 1,
 '178130': 1,
 '179114': 1,
 '185089': 1,
 '190708': 2,
 '233041': 2,
 '94295': 1,
 '179648': 1,
 '180348': 5,
 '220867': 1,
 '256540': 1,
 '19085': 1,
 '31391': 2,
 '113586': 1,
 '133166': 1,
 '137742': 3,
 '204522': 1,
 '277427': 1,
 '8936': 2,
 '9417': 1,
 '16916': 2,
 '28666': 1,
 '36606': 1,
 '44845': 1,
 '45113': 1,
 '50225': 1,
 '51252': 2,
 '53392': 1,
 '57006': 1,
 '68555': 2,
 '69945': 1,
 '76223': 1,
 '81303': 1,
 '87746': 3,
 '91017': 1,
 '100908': 1,
 '110608': 1,
 '116556': 2,
 '121083': 1,
 '124942': 2,
 '133689': 2,
 '135294': 1,
 '135785': 1,
 '145449': 1,
 '150832': 1,
 '160401': 1,
 '169233': 1,
 '170441': 1,
 '174851': 1,
 '178093': 1,
 '178667': 4,
 '180860': 1,
 '199492': 1,
 '212645': 3,
 '227705': 2,
 '231210': 2,
 '234828': 2,
 '236006': 1,
 '242822': 1,
 '245371': 1,
 '246164': 1,
 '252848': 1,
 '268110': 1,
 '269566': 1,
 '16634': 3,
 '35857': 6,
 '47117': 1,
 '54311': 1,
 '57179': 1,
 '59172': 5,
 '59595': 1,
 '62272': 1,
 '67034': 1,
 '68217': 1,
 '78589': 1,
 '91058': 2,
 '92283': 1,
 '115841': 4,
 '117132': 1,
 '135847': 1,
 '151616': 1,
 '163433': 1,
 '174534': 1,
 '174719': 1,
 '183658': 1,
 '184299': 4,
 '214821': 1,
 '225087': 3,
 '230115': 1,
 '232422': 1,
 '237271': 1,
 '238544': 1,
 '242233': 1,
 '242646': 5,
 '248477': 1,
 '253871': 3,
 '269344': 1,
 '273806': 1,
 '22900': 1,
 '30321': 1,
 '33454': 1,
 '62862': 2,
 '76976': 1,
 '86093': 1,
 '122474': 1,
 '128732': 1,
 '147865': 1,
 '160558': 1,
 '169699': 3,
 '191671': 1,
 '200643': 2,
 '203240': 1,
 '218608': 2,
 '264311': 1,
 '266109': 1,
 '6900': 1,
 '11817': 1,
 '12194': 1,
 '20115': 2,
 '44295': 1,
 '51526': 1,
 '58142': 1,
 '103304': 1,
 '110483': 3,
 '119282': 1,
 '129716': 2,
 '138097': 1,
 '140358': 3,
 '144555': 2,
 '147680': 1,
 '162962': 1,
 '163202': 1,
 '170759': 1,
 '174596': 1,
 '182053': 2,
 '183572': 1,
 '188676': 1,
 '189665': 1,
 '201768': 2,
 '212252': 1,
 '224435': 3,
 '224851': 1,
 '228710': 1,
 '236025': 1,
 '236097': 1,
 '238120': 2,
 '247852': 1,
 '255837': 1,
 '260944': 2,
 '261496': 1,
 '262466': 1,
 '266840': 2,
 '267249': 1,
 '45042': 1,
 '24933': 2,
 '82497': 2,
 '102275': 1,
 '122793': 1,
 '234165': 1,
 '56307': 1,
 '69580': 1,
 '90746': 1,
 '160841': 1,
 '208568': 1,
 '225274': 1,
 '226003': 2,
 '229055': 1,
 '230778': 1,
 '252347': 1,
 '85851': 1,
 '164828': 4,
 '236164': 1,
 '276744': 1,
 '8234': 1,
 '8250': 1,
 '13273': 1,
 '16106': 1,
 '16718': 1,
 '16877': 1,
 '17950': 2,
 '17975': 1,
 '20806': 1,
 '21340': 1,
 '21659': 1,
 '22625': 1,
 '23243': 1,
 '23768': 2,
 '29168': 1,
 '31362': 1,
 '32188': 1,
 '33580': 1,
 '33974': 1,
 '34523': 1,
 '34531': 1,
 '34588': 2,
 '35288': 1,
 '37712': 1,
 '37800': 1,
 '39441': 1,
 '39646': 1,
 '41841': 1,
 '44963': 1,
 '49683': 1,
 '53174': 1,
 '53220': 1,
 '53614': 1,
 '55441': 1,
 '60337': 1,
 '73298': 1,
 '75819': 1,
 '76351': 2,
 '76851': 1,
 '78236': 1,
 '83287': 1,
 '83941': 1,
 '92184': 1,
 '94279': 1,
 '96054': 1,
 '97919': 1,
 '98168': 1,
 '98741': 1,
 '100471': 1,
 '100846': 1,
 '101226': 1,
 '104051': 1,
 '105979': 1,
 '109013': 2,
 '109180': 1,
 '111174': 1,
 '111358': 1,
 '112914': 1,
 '113425': 1,
 '113519': 2,
 '114847': 1,
 '115003': 1,
 '115375': 1,
 '115435': 1,
 '116904': 1,
 '121241': 1,
 '123645': 1,
 '124983': 2,
 '125519': 1,
 '130571': 1,
 '135741': 1,
 '136439': 1,
 '136509': 1,
 '140340': 1,
 '145641': 1,
 '147224': 1,
 '148258': 1,
 '149069': 1,
 '149231': 1,
 '149696': 1,
 '151503': 1,
 '151819': 1,
 '152354': 1,
 '153418': 1,
 '153959': 1,
 '154906': 1,
 '155248': 1,
 '160548': 1,
 '161870': 1,
 '165788': 1,
 '166305': 1,
 '171445': 1,
 '172881': 1,
 '178006': 1,
 '183995': 1,
 '184295': 1,
 '187256': 1,
 '187621': 1,
 '189584': 1,
 '193778': 2,
 '196466': 1,
 '197206': 1,
 '198213': 1,
 '200422': 1,
 '203506': 1,
 '206177': 1,
 '206534': 1,
 '206754': 1,
 '209160': 2,
 '209174': 1,
 '210485': 2,
 '212568': 1,
 '213379': 1,
 '215988': 1,
 '218615': 1,
 '222563': 1,
 '224249': 1,
 '225520': 1,
 '230522': 4,
 '234565': 1,
 '235146': 1,
 '235842': 2,
 '236172': 1,
 '237064': 1,
 '240643': 1,
 '243996': 1,
 '244955': 1,
 '245901': 1,
 '246411': 1,
 '246470': 1,
 '246513': 1,
 '251164': 1,
 '252222': 1,
 '252820': 2,
 '253780': 1,
 '254053': 1,
 '254488': 1,
 '256402': 1,
 '258334': 1,
 '259259': 2,
 '259629': 1,
 '260458': 1,
 '264085': 1,
 '264947': 1,
 '265202': 1,
 '267409': 1,
 '269835': 1,
 '271176': 1,
 '148966': 1,
 '27647': 1,
 '50336': 1,
 '132199': 1,
 '143427': 1,
 '149598': 1,
 '234783': 1,
 '1192': 1,
 '28451': 2,
 '32942': 1,
 '91342': 2,
 '108405': 2,
 '120908': 1,
 '218240': 1,
 '223190': 4,
 '251394': 2,
 '254971': 3,
 '271398': 1,
 '72352': 3,
 '84024': 1,
 '216012': 4,
 '233654': 1,
 '267180': 1,
 '33614': 1,
 '52584': 8,
 '183196': 1,
 '193350': 1,
 '203799': 3,
 '207192': 1,
 '217395': 1,
 '243964': 1,
 '13540': 1,
 '28700': 1,
 '30824': 1,
 '35050': 2,
 '68465': 1,
 '86365': 1,
 '87391': 1,
 '104143': 1,
 '113624': 1,
 '117188': 1,
 '127190': 1,
 '175284': 1,
 ...}

In [17]:
print(overlap_users)

{'31742': 1, '69042': 4, '76352': 19, '98104': 1, '98547': 4, '118275': 4, '118627': 1, '175003': 14, '184532': 3, '204591': 7, '212898': 8, '213998': 1, '227250': 6, '227520': 10, '228764': 13, '242006': 13, '242781': 1, '246671': 5, '247447': 12, '253821': 3, '264634': 2, '265889': 13, '269386': 1, '275481': 2, '278144': 1, '8245': 1, '14374': 1, '17282': 4, '17724': 1, '30972': 3, '31315': 4, '39616': 2, '40889': 8, '43006': 1, '43842': 5, '51350': 3, '60168': 1, '69697': 34, '77940': 16, '78783': 16, '79724': 1, '95991': 1, '107021': 9, '108480': 4, '111261': 2, '114414': 4, '115002': 2, '116599': 10, '119575': 3, '123388': 1, '123883': 15, '125063': 1, '126693': 3, '128738': 1, '128835': 4, '129084': 3, '130474': 10, '140293': 1, '145451': 16, '145619': 9, '151098': 3, '151537': 1, '151806': 1, '153718': 4, '156688': 1, '161903': 2, '168387': 2, '170575': 12, '177374': 9, '180917': 2, '185233': 12, '185254': 3, '194646': 1, '199494': 1, '200226': 9, '203805': 2, '206074': 4, '212965': 9, '214583': 1, '216683': 5, '217895': 1, '226545': 14, '227447': 12, '236283': 6, '239688': 3, '242824': 13, '247241': 2, '251613': 6, '257576': 1, '264082': 2, '266226': 2, '266807': 2, '273113': 7, '273252': 1, '13935': 1, '14683': 1, '23872': 2, '26535': 6, '55492': 15, '75860': 4, '95359': 2, '109427': 4, '111847': 2, '124487': 2, '124989': 5, '129358': 32, '131046': 7, '132173': 3, '177349': 2, '193898': 2, '213531': 3, '226031': 1, '233903': 3, '249688': 1, '264637': 4, '29867': 2, '48494': 6, '52199': 4, '68568': 2, '77790': 1, '90423': 1, '98647': 1, '125774': 6, '127203': 1, '152770': 2, '153662': 29, '181687': 2, '182414': 1, '186039': 2, '208829': 4, '210772': 1, '243651': 1, '254465': 9, '17763': 1, '30744': 3, '102702': 12, '123039': 1, '130570': 2, '142788': 1, '151946': 1, '172030': 7, '194287': 1, '207349': 10, '224764': 2, '229334': 2, '234359': 12, '267033': 3, '269321': 5, '274061': 4, '4144': 1, '5582': 1, '8284': 5, '10447': 1, '13552': 14, '16795': 16, '25409': 1, '30273': 1, '37224': 1, '38034': 1, '44728': 3, '47316': 3, '51495': 1, '55493': 1, '56554': 1, '76151': 3, '81492': 4, '83666': 2, '91113': 2, '91832': 2, '99347': 4, '112559': 2, '120735': 1, '127233': 3, '127359': 2, '128045': 1, '132118': 1, '132139': 1, '133868': 6, '139825': 1, '142398': 1, '143175': 2, '146803': 3, '154469': 3, '156467': 7, '158295': 5, '159858': 1, '162639': 5, '162827': 3, '165308': 3, '167327': 2, '167678': 2, '169677': 1, '170947': 1, '177113': 1, '182085': 10, '195694': 3, '196077': 5, '197609': 1, '206045': 2, '208897': 2, '217375': 6, '221445': 1, '223087': 1, '225810': 7, '228868': 1, '230971': 1, '231337': 1, '231857': 1, '242794': 2, '244688': 2, '251140': 1, '256407': 3, '258185': 8, '263645': 1, '265115': 4, '104636': 7, '125039': 1, '179733': 4, '219546': 2, '245410': 5, '71568': 4, '138441': 7, '277928': 1, '383': 1, '3363': 3, '8362': 1, '11224': 2, '11601': 2, '11676': 25, '12538': 4, '13280': 1, '15651': 1, '18172': 1, '20622': 1, '20971': 2, '23948': 1, '28069': 1, '28204': 1, '31466': 1, '31556': 3, '32440': 1, '34397': 2, '35859': 9, '37560': 1, '37950': 1, '39773': 2, '43896': 1, '44842': 1, '45383': 1, '45418': 1, '53566': 1, '54884': 1, '60130': 1, '60914': 1, '61619': 2, '61700': 1, '73603': 1, '81848': 1, '85268': 1, '85944': 1, '92979': 1, '93179': 1, '95741': 1, '97754': 1, '100815': 1, '101851': 1, '105517': 1, '112001': 2, '112026': 1, '114722': 1, '119488': 1, '122014': 2, '123790': 2, '124310': 2, '124574': 1, '124720': 1, '126903': 2, '127429': 3, '136473': 4, '137589': 1, '138641': 2, '139742': 1, '141719': 2, '144255': 1, '152020': 1, '159754': 1, '164367': 1, '166391': 2, '167189': 1, '170368': 1, '170518': 4, '172580': 1, '173415': 3, '174304': 2, '178522': 1, '179030': 1, '184513': 2, '185176': 1, '196738': 1, '198585': 1, '198711': 11, '203649': 2, '206567': 1, '209059': 1, '210535': 1, '211288': 1, '211770': 1, '213150': 2, '215388': 1, '219609': 1, '223391': 1, '226891': 1, '227961': 1, '233276': 1, '234597': 1, '234623': 7, '235105': 3, '236322': 1, '237521': 1, '238541': 1, '241641': 1, '241952': 1, '243759': 1, '245978': 1, '250330': 1, '250936': 1, '251003': 1, '255489': 4, '259922': 1, '260897': 1, '267061': 1, '274308': 2, '52614': 15, '70415': 2, '117719': 1, '278418': 8, '243': 1, '6575': 1, '9908': 2, '14422': 1, '28096': 1, '85486': 1, '94787': 1, '107784': 4, '123430': 1, '124597': 1, '134797': 3, '149802': 2, '159033': 5, '166596': 3, '166825': 1, '169682': 1, '171623': 1, '176975': 1, '224138': 2, '229551': 2, '235392': 2, '252071': 6, '1733': 3, '165232': 4, '186570': 3, '6251': 4, '11993': 1, '21014': 2, '40943': 7, '49889': 1, '51386': 1, '82171': 1, '100906': 1, '110973': 1, '114197': 1, '115490': 2, '135149': 6, '211961': 1, '234023': 1, '238961': 1, '259901': 1, '273979': 1, '77270': 1, '177690': 8, '182086': 6, '224206': 1, '229011': 4, '245257': 1, '253563': 1, '26028': 1, '26516': 3, '49109': 2, '67840': 2, '74709': 7, '74758': 4, '86202': 1, '105968': 3, '117251': 2, '127519': 1, '129238': 1, '138515': 1, '153723': 3, '160735': 5, '166922': 1, '182993': 2, '215702': 1, '238781': 10, '251422': 2, '254528': 1, '1812': 1, '8067': 4, '17667': 1, '51883': 2, '73394': 14, '127384': 1, '160819': 2, '166123': 6, '172742': 3, '176902': 1, '68998': 1, '85701': 2, '98391': 18, '161873': 1, '214436': 2, '215513': 1, '228998': 2, '233917': 3, '240756': 2, '242962': 2, '21268': 1, '31050': 4, '113633': 1, '164549': 1, '212923': 1, '251843': 3, '259035': 3, '273110': 1, '277945': 2, '254': 2, '2437': 1, '5868': 1, '9354': 1, '20201': 4, '28360': 1, '43806': 3, '51365': 1, '53664': 1, '64436': 4, '74493': 1, '78553': 2, '86641': 1, '95903': 1, '101209': 3, '102967': 9, '104211': 2, '114200': 1, '114413': 1, '124066': 1, '130438': 1, '134029': 1, '141127': 1, '143253': 7, '145752': 1, '149071': 1, '155444': 2, '159376': 3, '159822': 1, '161752': 1, '162311': 2, '178181': 2, '178240': 1, '181796': 2, '184424': 2, '187517': 2, '188583': 2, '194669': 3, '194676': 3, '201641': 4, '208147': 4, '208605': 1, '214138': 3, '218552': 1, '221777': 1, '221903': 1, '223892': 1, '224115': 1, '235099': 2, '243720': 1, '244445': 1, '252695': 3, '256844': 3, '258690': 2, '259930': 2, '264031': 3, '9899': 1, '42640': 1, '44296': 1, '45064': 1, '55858': 1, '59189': 7, '66680': 3, '81531': 2, '101566': 1, '120090': 2, '123981': 2, '127623': 3, '135458': 2, '147965': 5, '157247': 1, '161939': 1, '168064': 1, '181212': 1, '189565': 1, '230708': 1, '237990': 3, '242106': 4, '246655': 3, '266056': 1, '26544': 8, '27472': 3, '29888': 2, '41455': 1, '60858': 1, '68768': 1, '68836': 1, '70965': 1, '82831': 1, '87690': 1, '89391': 3, '111228': 1, '115120': 7, '115929': 1, '131057': 1, '132006': 1, '140334': 1, '143908': 1, '150968': 5, '161037': 1, '190925': 18, '196715': 1, '199219': 1, '217958': 1, '231694': 1, '232131': 1, '238222': 1, '238461': 1, '243585': 1, '250645': 3, '255546': 2, '262399': 3, '272423': 1, '3371': 1, '135265': 6, '735': 1, '4385': 3, '27813': 4, '29855': 4, '127200': 1, '153361': 2, '21356': 2, '38023': 2, '54218': 3, '60098': 1, '63997': 2, '210035': 1, '200674': 3, '136010': 3, '163148': 1, '169380': 2, '202036': 1, '233778': 1, '249723': 3, '250015': 1, '24921': 3, '26240': 1, '26803': 1, '81597': 2, '87141': 4, '88693': 4, '131837': 1, '147847': 3, '211919': 1, '215139': 2, '233529': 1, '247752': 3, '61854': 3, '106936': 1, '112541': 1, '234614': 1, '245963': 3, '251327': 1, '7158': 3, '31342': 1, '49154': 1, '55421': 1, '139890': 1, '184310': 1, '209518': 1, '240567': 1, '262407': 1, '259380': 2, '66385': 1, '92405': 6, '93868': 1, '125808': 2, '28591': 4, '88677': 2, '507': 1, '12515': 2, '114868': 4, '167223': 1, '220597': 4, '122716': 2, '126736': 2, '69232': 5, '76818': 1, '179772': 1, '263460': 1, '269890': 3, '20336': 1, '25261': 1, '25981': 4, '79186': 2, '111924': 1, '148744': 4, '182527': 2, '189516': 2, '222941': 1, '227851': 1, '264938': 1, '268330': 3, '30716': 1, '215136': 2, '261829': 7, '53515': 1, '63644': 1, '70543': 1, '104665': 4, '132392': 1, '132544': 5, '172061': 1, '178130': 1, '179114': 1, '185089': 1, '190708': 2, '233041': 2, '94295': 1, '179648': 1, '180348': 5, '220867': 1, '256540': 1, '19085': 1, '31391': 2, '113586': 1, '133166': 1, '137742': 3, '204522': 1, '277427': 1, '8936': 2, '9417': 1, '16916': 2, '28666': 1, '36606': 1, '44845': 1, '45113': 1, '50225': 1, '51252': 2, '53392': 1, '57006': 1, '68555': 2, '69945': 1, '76223': 1, '81303': 1, '87746': 3, '91017': 1, '100908': 1, '110608': 1, '116556': 2, '121083': 1, '124942': 2, '133689': 2, '135294': 1, '135785': 1, '145449': 1, '150832': 1, '160401': 1, '169233': 1, '170441': 1, '174851': 1, '178093': 1, '178667': 4, '180860': 1, '199492': 1, '212645': 3, '227705': 2, '231210': 2, '234828': 2, '236006': 1, '242822': 1, '245371': 1, '246164': 1, '252848': 1, '268110': 1, '269566': 1, '16634': 3, '35857': 6, '47117': 1, '54311': 1, '57179': 1, '59172': 5, '59595': 1, '62272': 1, '67034': 1, '68217': 1, '78589': 1, '91058': 2, '92283': 1, '115841': 4, '117132': 1, '135847': 1, '151616': 1, '163433': 1, '174534': 1, '174719': 1, '183658': 1, '184299': 4, '214821': 1, '225087': 3, '230115': 1, '232422': 1, '237271': 1, '238544': 1, '242233': 1, '242646': 5, '248477': 1, '253871': 3, '269344': 1, '273806': 1, '22900': 1, '30321': 1, '33454': 1, '62862': 2, '76976': 1, '86093': 1, '122474': 1, '128732': 1, '147865': 1, '160558': 1, '169699': 3, '191671': 1, '200643': 2, '203240': 1, '218608': 2, '264311': 1, '266109': 1, '6900': 1, '11817': 1, '12194': 1, '20115': 2, '44295': 1, '51526': 1, '58142': 1, '103304': 1, '110483': 3, '119282': 1, '129716': 2, '138097': 1, '140358': 3, '144555': 2, '147680': 1, '162962': 1, '163202': 1, '170759': 1, '174596': 1, '182053': 2, '183572': 1, '188676': 1, '189665': 1, '201768': 2, '212252': 1, '224435': 3, '224851': 1, '228710': 1, '236025': 1, '236097': 1, '238120': 2, '247852': 1, '255837': 1, '260944': 2, '261496': 1, '262466': 1, '266840': 2, '267249': 1, '45042': 1, '24933': 2, '82497': 2, '102275': 1, '122793': 1, '234165': 1, '56307': 1, '69580': 1, '90746': 1, '160841': 1, '208568': 1, '225274': 1, '226003': 2, '229055': 1, '230778': 1, '252347': 1, '85851': 1, '164828': 4, '236164': 1, '276744': 1, '8234': 1, '8250': 1, '13273': 1, '16106': 1, '16718': 1, '16877': 1, '17950': 2, '17975': 1, '20806': 1, '21340': 1, '21659': 1, '22625': 1, '23243': 1, '23768': 2, '29168': 1, '31362': 1, '32188': 1, '33580': 1, '33974': 1, '34523': 1, '34531': 1, '34588': 2, '35288': 1, '37712': 1, '37800': 1, '39441': 1, '39646': 1, '41841': 1, '44963': 1, '49683': 1, '53174': 1, '53220': 1, '53614': 1, '55441': 1, '60337': 1, '73298': 1, '75819': 1, '76351': 2, '76851': 1, '78236': 1, '83287': 1, '83941': 1, '92184': 1, '94279': 1, '96054': 1, '97919': 1, '98168': 1, '98741': 1, '100471': 1, '100846': 1, '101226': 1, '104051': 1, '105979': 1, '109013': 2, '109180': 1, '111174': 1, '111358': 1, '112914': 1, '113425': 1, '113519': 2, '114847': 1, '115003': 1, '115375': 1, '115435': 1, '116904': 1, '121241': 1, '123645': 1, '124983': 2, '125519': 1, '130571': 1, '135741': 1, '136439': 1, '136509': 1, '140340': 1, '145641': 1, '147224': 1, '148258': 1, '149069': 1, '149231': 1, '149696': 1, '151503': 1, '151819': 1, '152354': 1, '153418': 1, '153959': 1, '154906': 1, '155248': 1, '160548': 1, '161870': 1, '165788': 1, '166305': 1, '171445': 1, '172881': 1, '178006': 1, '183995': 1, '184295': 1, '187256': 1, '187621': 1, '189584': 1, '193778': 2, '196466': 1, '197206': 1, '198213': 1, '200422': 1, '203506': 1, '206177': 1, '206534': 1, '206754': 1, '209160': 2, '209174': 1, '210485': 2, '212568': 1, '213379': 1, '215988': 1, '218615': 1, '222563': 1, '224249': 1, '225520': 1, '230522': 4, '234565': 1, '235146': 1, '235842': 2, '236172': 1, '237064': 1, '240643': 1, '243996': 1, '244955': 1, '245901': 1, '246411': 1, '246470': 1, '246513': 1, '251164': 1, '252222': 1, '252820': 2, '253780': 1, '254053': 1, '254488': 1, '256402': 1, '258334': 1, '259259': 2, '259629': 1, '260458': 1, '264085': 1, '264947': 1, '265202': 1, '267409': 1, '269835': 1, '271176': 1, '148966': 1, '27647': 1, '50336': 1, '132199': 1, '143427': 1, '149598': 1, '234783': 1, '1192': 1, '28451': 2, '32942': 1, '91342': 2, '108405': 2, '120908': 1, '218240': 1, '223190': 4, '251394': 2, '254971': 3, '271398': 1, '72352': 3, '84024': 1, '216012': 4, '233654': 1, '267180': 1, '33614': 1, '52584': 8, '183196': 1, '193350': 1, '203799': 3, '207192': 1, '217395': 1, '243964': 1, '13540': 1, '28700': 1, '30824': 1, '35050': 2, '68465': 1, '86365': 1, '87391': 1, '104143': 1, '113624': 1, '117188': 1, '127190': 1, '175284': 1, '183340': 2, '200248': 1, '202237': 1, '209573': 1, '25395': 1, '40471': 1, '213523': 2, '3719': 1, '16721': 1, '17894': 2, '19681': 1, '20149': 1, '26407': 1, '27392': 1, '30555': 1, '30933': 1, '31652': 1, '45557': 1, '49842': 1, '51450': 5, '55728': 1, '59390': 2, '61028': 1, '66518': 1, '70192': 1, '84191': 2, '90088': 1, '98440': 1, '109519': 1, '109899': 2, '111947': 2, '112979': 1, '113910': 1, '121366': 1, '121591': 1, '125027': 1, '128610': 1, '130784': 1, '138439': 1, '139141': 1, '146279': 1, '150327': 1, '155147': 1, '155937': 1, '156759': 1, '163776': 3, '167800': 3, '169476': 1, '170742': 2, '178022': 1, '178356': 1, '192245': 1, '199378': 1, '201017': 2, '207860': 1, '212986': 1, '223587': 1, '226523': 1, '227589': 1, '233578': 1, '237411': 1, '242073': 1, '242499': 1, '243943': 1, '248615': 1, '249628': 2, '250184': 1, '250764': 1, '252049': 1, '253829': 1, '238699': 2, '69405': 3, '1294': 1, '21311': 1, '87143': 1, '138844': 1, '251102': 1, '23493': 1, '25695': 1, '64670': 1, '89307': 1, '141819': 1, '154204': 1, '203280': 1, '204167': 1, '207748': 1, '249894': 1, '264073': 1, '7312': 1, '92658': 1, '115541': 1, '117515': 1, '136382': 2, '151143': 1, '167349': 2, '189694': 1, '234879': 1, '264321': 1, '24186': 1, '61296': 1, '84924': 1, '90915': 1, '100264': 1, '115759': 1, '117390': 1, '117732': 1, '126677': 1, '134900': 1, '135753': 2, '170724': 1, '194273': 1, '198625': 1, '198960': 1, '214826': 1, '217089': 1, '239500': 1, '265626': 1, '265676': 1, '268333': 1, '126395': 1, '146722': 1, '155219': 1, '177091': 1, '193499': 1, '36568': 1, '50730': 1, '100460': 1, '119179': 1, '144162': 1, '156150': 2, '165978': 1, '174062': 1, '174834': 1, '175205': 2, '177090': 3, '179843': 2, '185528': 1, '189541': 1, '224997': 2, '246156': 3, '247129': 1, '247151': 1, '270906': 1, '23680': 1, '176214': 1, '188855': 1, '192492': 1, '210879': 1, '261973': 1, '266753': 1, '270552': 1, '30276': 5, '65584': 1, '251243': 1, '11629': 1, '276017': 1, '32195': 3, '55548': 2, '65791': 1, '79754': 1, '108261': 1, '120702': 1, '163430': 1, '167556': 1, '258884': 1, '183061': 1, '224316': 1, '257327': 1, '2276': 1, '3282': 1, '3827': 1, '6323': 1, '7286': 1, '12824': 1, '13432': 1, '16428': 1, '16599': 1, '18963': 1, '21364': 1, '26553': 1, '39480': 1, '41911': 1, '43687': 1, '54453': 1, '55490': 1, '55734': 2, '56447': 2, '57105': 1, '59820': 1, '59912': 1, '60263': 1, '60274': 1, '63394': 1, '64137': 1, '67686': 1, '69355': 1, '70448': 1, '73588': 1, '74630': 1, '76888': 1, '77128': 1, '78328': 1, '83671': 1, '87531': 1, '87555': 1, '88122': 1, '90198': 1, '93636': 1, '98297': 1, '98575': 1, '98618': 1, '98783': 1, '101010': 1, '101606': 1, '106553': 1, '108392': 1, '110112': 1, '114444': 1, '114634': 1, '115180': 1, '115804': 1, '117097': 1, '117593': 2, '121482': 1, '123094': 1, '124259': 1, '126492': 1, '135763': 1, '136205': 1, '138543': 1, '148312': 1, '149510': 1, '150124': 1, '152186': 2, '153115': 1, '155940': 1, '156214': 2, '158254': 1, '159860': 1, '160231': 1, '162363': 1, '164640': 1, '165582': 1, '165758': 1, '168245': 1, '168466': 1, '172010': 1, '173343': 1, '173879': 1, '177432': 1, '179718': 1, '180733': 1, '183142': 1, '186533': 1, '187762': 1, '188951': 1, '189115': 1, '197725': 1, '197775': 1, '199515': 1, '204964': 1, '205963': 1, '206109': 1, '206219': 1, '207782': 1, '207825': 1, '208406': 1, '209536': 1, '211426': 2, '218568': 1, '221309': 1, '224373': 1, '225989': 1, '226965': 2, '229313': 1, '230496': 1, '232222': 1, '233564': 1, '236587': 1, '237381': 1, '237534': 1, '237758': 1, '238292': 1, '238864': 1, '240035': 1, '240177': 1, '244444': 1, '244736': 1, '245295': 1, '246104': 1, '247134': 1, '247444': 1, '250359': 1, '250609': 1, '250962': 1, '251263': 1, '257024': 1, '261956': 1, '261998': 1, '263107': 1, '263948': 1, '264317': 1, '268300': 1, '271195': 2, '271659': 1, '272626': 1, '276050': 1, '44': 1, '15819': 1, '18979': 1, '21031': 1, '23624': 1, '25391': 1, '26473': 1, '29257': 1, '39372': 1, '42256': 1, '44595': 1, '50895': 2, '57156': 1, '59727': 1, '65663': 1, '67397': 1, '72238': 1, '73504': 1, '74297': 1, '78973': 1, '106059': 1, '111470': 1, '117384': 2, '124372': 1, '132846': 1, '142256': 1, '145546': 1, '146906': 1, '150561': 3, '156269': 1, '166824': 1, '174692': 1, '177458': 1, '182746': 1, '186447': 1, '201674': 2, '220278': 1, '225763': 1, '231264': 1, '232066': 1, '245542': 1, '257204': 1, '270828': 1, '271604': 1, '51663': 1, '62966': 1, '81609': 1, '104278': 1, '144531': 1, '173481': 1, '207563': 1, '16935': 1, '249634': 2, '27169': 1, '85656': 1, '196106': 1, '50064': 1, '129988': 1, '2033': 1, '2793': 1, '6671': 1, '20561': 1, '39502': 2, '49771': 1, '52002': 1, '62542': 1, '63595': 1, '70538': 1, '71811': 1, '72214': 2, '78371': 1, '79266': 1, '93308': 1, '97587': 1, '101874': 2, '114544': 1, '125779': 1, '129465': 1, '136240': 1, '141493': 3, '153719': 1, '161662': 1, '163699': 1, '164926': 1, '171638': 1, '175070': 1, '177157': 2, '177876': 1, '178223': 1, '180495': 1, '182760': 1, '183537': 1, '189104': 2, '192472': 1, '204813': 1, '221488': 1, '228681': 1, '237701': 1, '239070': 1, '241660': 1, '245608': 1, '248850': 1, '252287': 1, '252292': 1, '255661': 1, '258034': 1, '261695': 1, '269719': 1, '272705': 1, '276165': 1, '209645': 1, '1759': 1, '6563': 1, '14521': 1, '24544': 1, '32122': 1, '33283': 1, '40839': 1, '51094': 1, '52600': 1, '52853': 2, '67749': 1, '69775': 1, '72470': 1, '88733': 1, '99136': 1, '99955': 1, '107453': 1, '110029': 1, '123257': 1, '125692': 1, '130574': 1, '133296': 1, '134294': 1, '140000': 1, '144965': 1, '153257': 1, '167471': 1, '170810': 1, '172512': 1, '174207': 1, '175145': 1, '177072': 1, '177073': 1, '201526': 1, '218683': 1, '220158': 2, '223455': 1, '236757': 1, '241980': 1, '246449': 1, '254676': 1, '271284': 1, '33405': 1, '272988': 1, '198547': 1, '255979': 1, '278346': 1, '2179': 1, '3840': 1, '6169': 1, '6577': 1, '7346': 1, '9747': 1, '10179': 1, '14667': 1, '16818': 1, '19362': 1, '19711': 1, '22495': 1, '26143': 1, '29915': 1, '32329': 1, '36609': 1, '44269': 1, '44790': 1, '48153': 1, '49358': 1, '49792': 1, '57398': 1, '59179': 1, '65484': 1, '67515': 1, '73651': 1, '79009': 1, '79740': 1, '80810': 1, '86928': 1, '97160': 1, '105382': 1, '108182': 1, '111635': 1, '111733': 1, '112937': 1, '113340': 1, '116210': 1, '119446': 1, '121405': 1, '128166': 1, '131675': 1, '132887': 1, '133435': 1, '135376': 1, '135704': 1, '136916': 1, '138221': 1, '139636': 1, '139913': 1, '146348': 1, '151653': 1, '152696': 1, '155808': 1, '156726': 1, '159834': 1, '161299': 1, '162419': 1, '168036': 1, '171130': 1, '175529': 1, '176667': 1, '185653': 1, '188010': 1, '191610': 1, '191775': 1, '192211': 1, '194577': 1, '194597': 1, '196885': 1, '198046': 1, '202532': 1, '203401': 1, '209238': 1, '211713': 1, '214651': 1, '216670': 1, '218068': 1, '218676': 1, '219683': 1, '220240': 1, '222688': 1, '224217': 1, '225996': 1, '226267': 1, '227007': 1, '236058': 1, '238926': 1, '241749': 1, '242642': 1, '245311': 1, '247010': 1, '254144': 1, '256167': 1, '257591': 1, '258151': 1, '259363': 1, '261784': 1, '262541': 1, '270329': 1, '273535': 1, '273587': 1}

In [18]:
unique_books

{'006104122X',
 '006108445X',
 '006440031X',
 '034538475X',
 '037307445X',
 '037307607X',
 '037307817X',
 '037308529X',
 '037309230X',
 '037322365X',
 '037325928X',
 '037348240X',
 '037348285X',
 '037348397X',
 '037348464X',
 '037351011X',
 '037369105X',
 '037379018X',
 '037379021X',
 '037379035X',
 '037379049X',
 '037379097X',
 '037379102X',
 '037379116X',
 '037379133X',
 '037383568X',
 '037383599X',
 '038076654X',
 '038079456X',
 '038531292X',
 '038531437X',
 '038531695X',
 '038542471X',
 '038550120X',
 '042517140X',
 '042518630X',
 '044011585X',
 '044652767X',
 '044900256X',
 '050552354X',
 '050552421X',
 '051511779X',
 '051512317X',
 '051512608X',
 '051512947X',
 '051513287X',
 '051513628X',
 '055328990X',
 '055329783X',
 '055344557X',
 '055356045X',
 '055358457X',
 '067164257X',
 '067168289X',
 '067172858X',
 '067179938X',
 '067942573X',
 '073943053X',
 '073943232X',
 '080411952X',
 '082171838X',
 '082171922X',
 '082177512X',
 '084394563X',
 '084394952X',
 '084395048X',
 '1551660016',
 '1551660253',
 '1551660490',
 '1551660504',
 '1551660598',
 '1551660954',
 '1551662469',
 '1551662914',
 '155166321X',
 '155166416X',
 '1551664275',
 '155166478X',
 '1551664879',
 '1551665077',
 '1551665352',
 '1551666189',
 '1551666618',
 '1551666758',
 '1551666804',
 '1551667118',
 '1551667401',
 '1551667436',
 '155166786X',
 '1551667932',
 '1551668084',
 '1551668440',
 '1551668653',
 '1551668874',
 '1551668947',
 '1551669390',
 '155166948X',
 '155166951X',
 '155817527X',
 '1575668696'}

In [19]:
import pandas as pd

# Ensure books_read is a DataFrame
if not isinstance(unique_books, pd.DataFrame):
    unique_books = pd.DataFrame(unique_books, columns=["isbn"])

# Print overlap_users dictionary
print("overlap_users:", overlap_users)

# Print books_read shape
print("books_read.shape:", books_read.shape)

# Print intermediate results
for k in overlap_users:
    print(f"User: {k}, Count: {overlap_users[k]}, Threshold: {unique_books.shape[0] / 5}")

# Filter users who have read at least 20% of the same books
filtered_overlap_users = {k for k in overlap_users if overlap_users[k] > unique_books.shape[0] / 5}

# Print filtered_overlap_users
print("filtered_overlap_users:", filtered_overlap_users)

overlap_users: {'31742': 1, '69042': 4, '76352': 19, '98104': 1, '98547': 4, '118275': 4, '118627': 1, '175003': 14, '184532': 3, '204591': 7, '212898': 8, '213998': 1, '227250': 6, '227520': 10, '228764': 13, '242006': 13, '242781': 1, '246671': 5, '247447': 12, '253821': 3, '264634': 2, '265889': 13, '269386': 1, '275481': 2, '278144': 1, '8245': 1, '14374': 1, '17282': 4, '17724': 1, '30972': 3, '31315': 4, '39616': 2, '40889': 8, '43006': 1, '43842': 5, '51350': 3, '60168': 1, '69697': 34, '77940': 16, '78783': 16, '79724': 1, '95991': 1, '107021': 9, '108480': 4, '111261': 2, '114414': 4, '115002': 2, '116599': 10, '119575': 3, '123388': 1, '123883': 15, '125063': 1, '126693': 3, '128738': 1, '128835': 4, '129084': 3, '130474': 10, '140293': 1, '145451': 16, '145619': 9, '151098': 3, '151537': 1, '151806': 1, '153718': 4, '156688': 1, '161903': 2, '168387': 2, '170575': 12, '177374': 9, '180917': 2, '185233': 12, '185254': 3, '194646': 1, '199494': 1, '200226': 9, '203805': 2, '206074': 4, '212965': 9, '214583': 1, '216683': 5, '217895': 1, '226545': 14, '227447': 12, '236283': 6, '239688': 3, '242824': 13, '247241': 2, '251613': 6, '257576': 1, '264082': 2, '266226': 2, '266807': 2, '273113': 7, '273252': 1, '13935': 1, '14683': 1, '23872': 2, '26535': 6, '55492': 15, '75860': 4, '95359': 2, '109427': 4, '111847': 2, '124487': 2, '124989': 5, '129358': 32, '131046': 7, '132173': 3, '177349': 2, '193898': 2, '213531': 3, '226031': 1, '233903': 3, '249688': 1, '264637': 4, '29867': 2, '48494': 6, '52199': 4, '68568': 2, '77790': 1, '90423': 1, '98647': 1, '125774': 6, '127203': 1, '152770': 2, '153662': 29, '181687': 2, '182414': 1, '186039': 2, '208829': 4, '210772': 1, '243651': 1, '254465': 9, '17763': 1, '30744': 3, '102702': 12, '123039': 1, '130570': 2, '142788': 1, '151946': 1, '172030': 7, '194287': 1, '207349': 10, '224764': 2, '229334': 2, '234359': 12, '267033': 3, '269321': 5, '274061': 4, '4144': 1, '5582': 1, '8284': 5, '10447': 1, '13552': 14, '16795': 16, '25409': 1, '30273': 1, '37224': 1, '38034': 1, '44728': 3, '47316': 3, '51495': 1, '55493': 1, '56554': 1, '76151': 3, '81492': 4, '83666': 2, '91113': 2, '91832': 2, '99347': 4, '112559': 2, '120735': 1, '127233': 3, '127359': 2, '128045': 1, '132118': 1, '132139': 1, '133868': 6, '139825': 1, '142398': 1, '143175': 2, '146803': 3, '154469': 3, '156467': 7, '158295': 5, '159858': 1, '162639': 5, '162827': 3, '165308': 3, '167327': 2, '167678': 2, '169677': 1, '170947': 1, '177113': 1, '182085': 10, '195694': 3, '196077': 5, '197609': 1, '206045': 2, '208897': 2, '217375': 6, '221445': 1, '223087': 1, '225810': 7, '228868': 1, '230971': 1, '231337': 1, '231857': 1, '242794': 2, '244688': 2, '251140': 1, '256407': 3, '258185': 8, '263645': 1, '265115': 4, '104636': 7, '125039': 1, '179733': 4, '219546': 2, '245410': 5, '71568': 4, '138441': 7, '277928': 1, '383': 1, '3363': 3, '8362': 1, '11224': 2, '11601': 2, '11676': 25, '12538': 4, '13280': 1, '15651': 1, '18172': 1, '20622': 1, '20971': 2, '23948': 1, '28069': 1, '28204': 1, '31466': 1, '31556': 3, '32440': 1, '34397': 2, '35859': 9, '37560': 1, '37950': 1, '39773': 2, '43896': 1, '44842': 1, '45383': 1, '45418': 1, '53566': 1, '54884': 1, '60130': 1, '60914': 1, '61619': 2, '61700': 1, '73603': 1, '81848': 1, '85268': 1, '85944': 1, '92979': 1, '93179': 1, '95741': 1, '97754': 1, '100815': 1, '101851': 1, '105517': 1, '112001': 2, '112026': 1, '114722': 1, '119488': 1, '122014': 2, '123790': 2, '124310': 2, '124574': 1, '124720': 1, '126903': 2, '127429': 3, '136473': 4, '137589': 1, '138641': 2, '139742': 1, '141719': 2, '144255': 1, '152020': 1, '159754': 1, '164367': 1, '166391': 2, '167189': 1, '170368': 1, '170518': 4, '172580': 1, '173415': 3, '174304': 2, '178522': 1, '179030': 1, '184513': 2, '185176': 1, '196738': 1, '198585': 1, '198711': 11, '203649': 2, '206567': 1, '209059': 1, '210535': 1, '211288': 1, '211770': 1, '213150': 2, '215388': 1, '219609': 1, '223391': 1, '226891': 1, '227961': 1, '233276': 1, '234597': 1, '234623': 7, '235105': 3, '236322': 1, '237521': 1, '238541': 1, '241641': 1, '241952': 1, '243759': 1, '245978': 1, '250330': 1, '250936': 1, '251003': 1, '255489': 4, '259922': 1, '260897': 1, '267061': 1, '274308': 2, '52614': 15, '70415': 2, '117719': 1, '278418': 8, '243': 1, '6575': 1, '9908': 2, '14422': 1, '28096': 1, '85486': 1, '94787': 1, '107784': 4, '123430': 1, '124597': 1, '134797': 3, '149802': 2, '159033': 5, '166596': 3, '166825': 1, '169682': 1, '171623': 1, '176975': 1, '224138': 2, '229551': 2, '235392': 2, '252071': 6, '1733': 3, '165232': 4, '186570': 3, '6251': 4, '11993': 1, '21014': 2, '40943': 7, '49889': 1, '51386': 1, '82171': 1, '100906': 1, '110973': 1, '114197': 1, '115490': 2, '135149': 6, '211961': 1, '234023': 1, '238961': 1, '259901': 1, '273979': 1, '77270': 1, '177690': 8, '182086': 6, '224206': 1, '229011': 4, '245257': 1, '253563': 1, '26028': 1, '26516': 3, '49109': 2, '67840': 2, '74709': 7, '74758': 4, '86202': 1, '105968': 3, '117251': 2, '127519': 1, '129238': 1, '138515': 1, '153723': 3, '160735': 5, '166922': 1, '182993': 2, '215702': 1, '238781': 10, '251422': 2, '254528': 1, '1812': 1, '8067': 4, '17667': 1, '51883': 2, '73394': 14, '127384': 1, '160819': 2, '166123': 6, '172742': 3, '176902': 1, '68998': 1, '85701': 2, '98391': 18, '161873': 1, '214436': 2, '215513': 1, '228998': 2, '233917': 3, '240756': 2, '242962': 2, '21268': 1, '31050': 4, '113633': 1, '164549': 1, '212923': 1, '251843': 3, '259035': 3, '273110': 1, '277945': 2, '254': 2, '2437': 1, '5868': 1, '9354': 1, '20201': 4, '28360': 1, '43806': 3, '51365': 1, '53664': 1, '64436': 4, '74493': 1, '78553': 2, '86641': 1, '95903': 1, '101209': 3, '102967': 9, '104211': 2, '114200': 1, '114413': 1, '124066': 1, '130438': 1, '134029': 1, '141127': 1, '143253': 7, '145752': 1, '149071': 1, '155444': 2, '159376': 3, '159822': 1, '161752': 1, '162311': 2, '178181': 2, '178240': 1, '181796': 2, '184424': 2, '187517': 2, '188583': 2, '194669': 3, '194676': 3, '201641': 4, '208147': 4, '208605': 1, '214138': 3, '218552': 1, '221777': 1, '221903': 1, '223892': 1, '224115': 1, '235099': 2, '243720': 1, '244445': 1, '252695': 3, '256844': 3, '258690': 2, '259930': 2, '264031': 3, '9899': 1, '42640': 1, '44296': 1, '45064': 1, '55858': 1, '59189': 7, '66680': 3, '81531': 2, '101566': 1, '120090': 2, '123981': 2, '127623': 3, '135458': 2, '147965': 5, '157247': 1, '161939': 1, '168064': 1, '181212': 1, '189565': 1, '230708': 1, '237990': 3, '242106': 4, '246655': 3, '266056': 1, '26544': 8, '27472': 3, '29888': 2, '41455': 1, '60858': 1, '68768': 1, '68836': 1, '70965': 1, '82831': 1, '87690': 1, '89391': 3, '111228': 1, '115120': 7, '115929': 1, '131057': 1, '132006': 1, '140334': 1, '143908': 1, '150968': 5, '161037': 1, '190925': 18, '196715': 1, '199219': 1, '217958': 1, '231694': 1, '232131': 1, '238222': 1, '238461': 1, '243585': 1, '250645': 3, '255546': 2, '262399': 3, '272423': 1, '3371': 1, '135265': 6, '735': 1, '4385': 3, '27813': 4, '29855': 4, '127200': 1, '153361': 2, '21356': 2, '38023': 2, '54218': 3, '60098': 1, '63997': 2, '210035': 1, '200674': 3, '136010': 3, '163148': 1, '169380': 2, '202036': 1, '233778': 1, '249723': 3, '250015': 1, '24921': 3, '26240': 1, '26803': 1, '81597': 2, '87141': 4, '88693': 4, '131837': 1, '147847': 3, '211919': 1, '215139': 2, '233529': 1, '247752': 3, '61854': 3, '106936': 1, '112541': 1, '234614': 1, '245963': 3, '251327': 1, '7158': 3, '31342': 1, '49154': 1, '55421': 1, '139890': 1, '184310': 1, '209518': 1, '240567': 1, '262407': 1, '259380': 2, '66385': 1, '92405': 6, '93868': 1, '125808': 2, '28591': 4, '88677': 2, '507': 1, '12515': 2, '114868': 4, '167223': 1, '220597': 4, '122716': 2, '126736': 2, '69232': 5, '76818': 1, '179772': 1, '263460': 1, '269890': 3, '20336': 1, '25261': 1, '25981': 4, '79186': 2, '111924': 1, '148744': 4, '182527': 2, '189516': 2, '222941': 1, '227851': 1, '264938': 1, '268330': 3, '30716': 1, '215136': 2, '261829': 7, '53515': 1, '63644': 1, '70543': 1, '104665': 4, '132392': 1, '132544': 5, '172061': 1, '178130': 1, '179114': 1, '185089': 1, '190708': 2, '233041': 2, '94295': 1, '179648': 1, '180348': 5, '220867': 1, '256540': 1, '19085': 1, '31391': 2, '113586': 1, '133166': 1, '137742': 3, '204522': 1, '277427': 1, '8936': 2, '9417': 1, '16916': 2, '28666': 1, '36606': 1, '44845': 1, '45113': 1, '50225': 1, '51252': 2, '53392': 1, '57006': 1, '68555': 2, '69945': 1, '76223': 1, '81303': 1, '87746': 3, '91017': 1, '100908': 1, '110608': 1, '116556': 2, '121083': 1, '124942': 2, '133689': 2, '135294': 1, '135785': 1, '145449': 1, '150832': 1, '160401': 1, '169233': 1, '170441': 1, '174851': 1, '178093': 1, '178667': 4, '180860': 1, '199492': 1, '212645': 3, '227705': 2, '231210': 2, '234828': 2, '236006': 1, '242822': 1, '245371': 1, '246164': 1, '252848': 1, '268110': 1, '269566': 1, '16634': 3, '35857': 6, '47117': 1, '54311': 1, '57179': 1, '59172': 5, '59595': 1, '62272': 1, '67034': 1, '68217': 1, '78589': 1, '91058': 2, '92283': 1, '115841': 4, '117132': 1, '135847': 1, '151616': 1, '163433': 1, '174534': 1, '174719': 1, '183658': 1, '184299': 4, '214821': 1, '225087': 3, '230115': 1, '232422': 1, '237271': 1, '238544': 1, '242233': 1, '242646': 5, '248477': 1, '253871': 3, '269344': 1, '273806': 1, '22900': 1, '30321': 1, '33454': 1, '62862': 2, '76976': 1, '86093': 1, '122474': 1, '128732': 1, '147865': 1, '160558': 1, '169699': 3, '191671': 1, '200643': 2, '203240': 1, '218608': 2, '264311': 1, '266109': 1, '6900': 1, '11817': 1, '12194': 1, '20115': 2, '44295': 1, '51526': 1, '58142': 1, '103304': 1, '110483': 3, '119282': 1, '129716': 2, '138097': 1, '140358': 3, '144555': 2, '147680': 1, '162962': 1, '163202': 1, '170759': 1, '174596': 1, '182053': 2, '183572': 1, '188676': 1, '189665': 1, '201768': 2, '212252': 1, '224435': 3, '224851': 1, '228710': 1, '236025': 1, '236097': 1, '238120': 2, '247852': 1, '255837': 1, '260944': 2, '261496': 1, '262466': 1, '266840': 2, '267249': 1, '45042': 1, '24933': 2, '82497': 2, '102275': 1, '122793': 1, '234165': 1, '56307': 1, '69580': 1, '90746': 1, '160841': 1, '208568': 1, '225274': 1, '226003': 2, '229055': 1, '230778': 1, '252347': 1, '85851': 1, '164828': 4, '236164': 1, '276744': 1, '8234': 1, '8250': 1, '13273': 1, '16106': 1, '16718': 1, '16877': 1, '17950': 2, '17975': 1, '20806': 1, '21340': 1, '21659': 1, '22625': 1, '23243': 1, '23768': 2, '29168': 1, '31362': 1, '32188': 1, '33580': 1, '33974': 1, '34523': 1, '34531': 1, '34588': 2, '35288': 1, '37712': 1, '37800': 1, '39441': 1, '39646': 1, '41841': 1, '44963': 1, '49683': 1, '53174': 1, '53220': 1, '53614': 1, '55441': 1, '60337': 1, '73298': 1, '75819': 1, '76351': 2, '76851': 1, '78236': 1, '83287': 1, '83941': 1, '92184': 1, '94279': 1, '96054': 1, '97919': 1, '98168': 1, '98741': 1, '100471': 1, '100846': 1, '101226': 1, '104051': 1, '105979': 1, '109013': 2, '109180': 1, '111174': 1, '111358': 1, '112914': 1, '113425': 1, '113519': 2, '114847': 1, '115003': 1, '115375': 1, '115435': 1, '116904': 1, '121241': 1, '123645': 1, '124983': 2, '125519': 1, '130571': 1, '135741': 1, '136439': 1, '136509': 1, '140340': 1, '145641': 1, '147224': 1, '148258': 1, '149069': 1, '149231': 1, '149696': 1, '151503': 1, '151819': 1, '152354': 1, '153418': 1, '153959': 1, '154906': 1, '155248': 1, '160548': 1, '161870': 1, '165788': 1, '166305': 1, '171445': 1, '172881': 1, '178006': 1, '183995': 1, '184295': 1, '187256': 1, '187621': 1, '189584': 1, '193778': 2, '196466': 1, '197206': 1, '198213': 1, '200422': 1, '203506': 1, '206177': 1, '206534': 1, '206754': 1, '209160': 2, '209174': 1, '210485': 2, '212568': 1, '213379': 1, '215988': 1, '218615': 1, '222563': 1, '224249': 1, '225520': 1, '230522': 4, '234565': 1, '235146': 1, '235842': 2, '236172': 1, '237064': 1, '240643': 1, '243996': 1, '244955': 1, '245901': 1, '246411': 1, '246470': 1, '246513': 1, '251164': 1, '252222': 1, '252820': 2, '253780': 1, '254053': 1, '254488': 1, '256402': 1, '258334': 1, '259259': 2, '259629': 1, '260458': 1, '264085': 1, '264947': 1, '265202': 1, '267409': 1, '269835': 1, '271176': 1, '148966': 1, '27647': 1, '50336': 1, '132199': 1, '143427': 1, '149598': 1, '234783': 1, '1192': 1, '28451': 2, '32942': 1, '91342': 2, '108405': 2, '120908': 1, '218240': 1, '223190': 4, '251394': 2, '254971': 3, '271398': 1, '72352': 3, '84024': 1, '216012': 4, '233654': 1, '267180': 1, '33614': 1, '52584': 8, '183196': 1, '193350': 1, '203799': 3, '207192': 1, '217395': 1, '243964': 1, '13540': 1, '28700': 1, '30824': 1, '35050': 2, '68465': 1, '86365': 1, '87391': 1, '104143': 1, '113624': 1, '117188': 1, '127190': 1, '175284': 1, '183340': 2, '200248': 1, '202237': 1, '209573': 1, '25395': 1, '40471': 1, '213523': 2, '3719': 1, '16721': 1, '17894': 2, '19681': 1, '20149': 1, '26407': 1, '27392': 1, '30555': 1, '30933': 1, '31652': 1, '45557': 1, '49842': 1, '51450': 5, '55728': 1, '59390': 2, '61028': 1, '66518': 1, '70192': 1, '84191': 2, '90088': 1, '98440': 1, '109519': 1, '109899': 2, '111947': 2, '112979': 1, '113910': 1, '121366': 1, '121591': 1, '125027': 1, '128610': 1, '130784': 1, '138439': 1, '139141': 1, '146279': 1, '150327': 1, '155147': 1, '155937': 1, '156759': 1, '163776': 3, '167800': 3, '169476': 1, '170742': 2, '178022': 1, '178356': 1, '192245': 1, '199378': 1, '201017': 2, '207860': 1, '212986': 1, '223587': 1, '226523': 1, '227589': 1, '233578': 1, '237411': 1, '242073': 1, '242499': 1, '243943': 1, '248615': 1, '249628': 2, '250184': 1, '250764': 1, '252049': 1, '253829': 1, '238699': 2, '69405': 3, '1294': 1, '21311': 1, '87143': 1, '138844': 1, '251102': 1, '23493': 1, '25695': 1, '64670': 1, '89307': 1, '141819': 1, '154204': 1, '203280': 1, '204167': 1, '207748': 1, '249894': 1, '264073': 1, '7312': 1, '92658': 1, '115541': 1, '117515': 1, '136382': 2, '151143': 1, '167349': 2, '189694': 1, '234879': 1, '264321': 1, '24186': 1, '61296': 1, '84924': 1, '90915': 1, '100264': 1, '115759': 1, '117390': 1, '117732': 1, '126677': 1, '134900': 1, '135753': 2, '170724': 1, '194273': 1, '198625': 1, '198960': 1, '214826': 1, '217089': 1, '239500': 1, '265626': 1, '265676': 1, '268333': 1, '126395': 1, '146722': 1, '155219': 1, '177091': 1, '193499': 1, '36568': 1, '50730': 1, '100460': 1, '119179': 1, '144162': 1, '156150': 2, '165978': 1, '174062': 1, '174834': 1, '175205': 2, '177090': 3, '179843': 2, '185528': 1, '189541': 1, '224997': 2, '246156': 3, '247129': 1, '247151': 1, '270906': 1, '23680': 1, '176214': 1, '188855': 1, '192492': 1, '210879': 1, '261973': 1, '266753': 1, '270552': 1, '30276': 5, '65584': 1, '251243': 1, '11629': 1, '276017': 1, '32195': 3, '55548': 2, '65791': 1, '79754': 1, '108261': 1, '120702': 1, '163430': 1, '167556': 1, '258884': 1, '183061': 1, '224316': 1, '257327': 1, '2276': 1, '3282': 1, '3827': 1, '6323': 1, '7286': 1, '12824': 1, '13432': 1, '16428': 1, '16599': 1, '18963': 1, '21364': 1, '26553': 1, '39480': 1, '41911': 1, '43687': 1, '54453': 1, '55490': 1, '55734': 2, '56447': 2, '57105': 1, '59820': 1, '59912': 1, '60263': 1, '60274': 1, '63394': 1, '64137': 1, '67686': 1, '69355': 1, '70448': 1, '73588': 1, '74630': 1, '76888': 1, '77128': 1, '78328': 1, '83671': 1, '87531': 1, '87555': 1, '88122': 1, '90198': 1, '93636': 1, '98297': 1, '98575': 1, '98618': 1, '98783': 1, '101010': 1, '101606': 1, '106553': 1, '108392': 1, '110112': 1, '114444': 1, '114634': 1, '115180': 1, '115804': 1, '117097': 1, '117593': 2, '121482': 1, '123094': 1, '124259': 1, '126492': 1, '135763': 1, '136205': 1, '138543': 1, '148312': 1, '149510': 1, '150124': 1, '152186': 2, '153115': 1, '155940': 1, '156214': 2, '158254': 1, '159860': 1, '160231': 1, '162363': 1, '164640': 1, '165582': 1, '165758': 1, '168245': 1, '168466': 1, '172010': 1, '173343': 1, '173879': 1, '177432': 1, '179718': 1, '180733': 1, '183142': 1, '186533': 1, '187762': 1, '188951': 1, '189115': 1, '197725': 1, '197775': 1, '199515': 1, '204964': 1, '205963': 1, '206109': 1, '206219': 1, '207782': 1, '207825': 1, '208406': 1, '209536': 1, '211426': 2, '218568': 1, '221309': 1, '224373': 1, '225989': 1, '226965': 2, '229313': 1, '230496': 1, '232222': 1, '233564': 1, '236587': 1, '237381': 1, '237534': 1, '237758': 1, '238292': 1, '238864': 1, '240035': 1, '240177': 1, '244444': 1, '244736': 1, '245295': 1, '246104': 1, '247134': 1, '247444': 1, '250359': 1, '250609': 1, '250962': 1, '251263': 1, '257024': 1, '261956': 1, '261998': 1, '263107': 1, '263948': 1, '264317': 1, '268300': 1, '271195': 2, '271659': 1, '272626': 1, '276050': 1, '44': 1, '15819': 1, '18979': 1, '21031': 1, '23624': 1, '25391': 1, '26473': 1, '29257': 1, '39372': 1, '42256': 1, '44595': 1, '50895': 2, '57156': 1, '59727': 1, '65663': 1, '67397': 1, '72238': 1, '73504': 1, '74297': 1, '78973': 1, '106059': 1, '111470': 1, '117384': 2, '124372': 1, '132846': 1, '142256': 1, '145546': 1, '146906': 1, '150561': 3, '156269': 1, '166824': 1, '174692': 1, '177458': 1, '182746': 1, '186447': 1, '201674': 2, '220278': 1, '225763': 1, '231264': 1, '232066': 1, '245542': 1, '257204': 1, '270828': 1, '271604': 1, '51663': 1, '62966': 1, '81609': 1, '104278': 1, '144531': 1, '173481': 1, '207563': 1, '16935': 1, '249634': 2, '27169': 1, '85656': 1, '196106': 1, '50064': 1, '129988': 1, '2033': 1, '2793': 1, '6671': 1, '20561': 1, '39502': 2, '49771': 1, '52002': 1, '62542': 1, '63595': 1, '70538': 1, '71811': 1, '72214': 2, '78371': 1, '79266': 1, '93308': 1, '97587': 1, '101874': 2, '114544': 1, '125779': 1, '129465': 1, '136240': 1, '141493': 3, '153719': 1, '161662': 1, '163699': 1, '164926': 1, '171638': 1, '175070': 1, '177157': 2, '177876': 1, '178223': 1, '180495': 1, '182760': 1, '183537': 1, '189104': 2, '192472': 1, '204813': 1, '221488': 1, '228681': 1, '237701': 1, '239070': 1, '241660': 1, '245608': 1, '248850': 1, '252287': 1, '252292': 1, '255661': 1, '258034': 1, '261695': 1, '269719': 1, '272705': 1, '276165': 1, '209645': 1, '1759': 1, '6563': 1, '14521': 1, '24544': 1, '32122': 1, '33283': 1, '40839': 1, '51094': 1, '52600': 1, '52853': 2, '67749': 1, '69775': 1, '72470': 1, '88733': 1, '99136': 1, '99955': 1, '107453': 1, '110029': 1, '123257': 1, '125692': 1, '130574': 1, '133296': 1, '134294': 1, '140000': 1, '144965': 1, '153257': 1, '167471': 1, '170810': 1, '172512': 1, '174207': 1, '175145': 1, '177072': 1, '177073': 1, '201526': 1, '218683': 1, '220158': 2, '223455': 1, '236757': 1, '241980': 1, '246449': 1, '254676': 1, '271284': 1, '33405': 1, '272988': 1, '198547': 1, '255979': 1, '278346': 1, '2179': 1, '3840': 1, '6169': 1, '6577': 1, '7346': 1, '9747': 1, '10179': 1, '14667': 1, '16818': 1, '19362': 1, '19711': 1, '22495': 1, '26143': 1, '29915': 1, '32329': 1, '36609': 1, '44269': 1, '44790': 1, '48153': 1, '49358': 1, '49792': 1, '57398': 1, '59179': 1, '65484': 1, '67515': 1, '73651': 1, '79009': 1, '79740': 1, '80810': 1, '86928': 1, '97160': 1, '105382': 1, '108182': 1, '111635': 1, '111733': 1, '112937': 1, '113340': 1, '116210': 1, '119446': 1, '121405': 1, '128166': 1, '131675': 1, '132887': 1, '133435': 1, '135376': 1, '135704': 1, '136916': 1, '138221': 1, '139636': 1, '139913': 1, '146348': 1, '151653': 1, '152696': 1, '155808': 1, '156726': 1, '159834': 1, '161299': 1, '162419': 1, '168036': 1, '171130': 1, '175529': 1, '176667': 1, '185653': 1, '188010': 1, '191610': 1, '191775': 1, '192211': 1, '194577': 1, '194597': 1, '196885': 1, '198046': 1, '202532': 1, '203401': 1, '209238': 1, '211713': 1, '214651': 1, '216670': 1, '218068': 1, '218676': 1, '219683': 1, '220240': 1, '222688': 1, '224217': 1, '225996': 1, '226267': 1, '227007': 1, '236058': 1, '238926': 1, '241749': 1, '242642': 1, '245311': 1, '247010': 1, '254144': 1, '256167': 1, '257591': 1, '258151': 1, '259363': 1, '261784': 1, '262541': 1, '270329': 1, '273535': 1, '273587': 1}
books_read.shape: (100, 8)
User: 31742, Count: 1, Threshold: 20.0
User: 69042, Count: 4, Threshold: 20.0

In [20]:
filtered_overlap_users

{'11676', '129358', '153662', '69697'}

In [21]:
# get the isbn and ratings of the books that these users have read

# Create a dataframe that contains all user_ids that are in filtered_overlap_users and add isbn and book_rating
filtered_overlap_data = data[data['user_id'].isin(filtered_overlap_users)][['user_id', 'isbn', 'book_rating']]
filtered_overlap_data

       user_id        isbn  book_rating
9       153662  1593100175            0
10       11676  1881273156            8
123     153662  1583145397            0
141     129358  084395289X            0
208      11676  042517140X            0
...        ...         ...          ...
183298   11676  039480001X           10
183451  153662  030702153X            9
183454   11676  006440031X            7
183566   11676  044077456X           10
183572   11676  186046310X           10

[4120 rows x 3 columns]

### For collaborative filtering: create a user / book matrix ###

In [22]:
unique_books

          isbn
0   067179938X
1   051511779X
2   1551660504
3   051512947X
4   084394952X
..         ...
95  037379097X
96  1551662469
97  037379035X
98  082171838X
99  051513287X

[100 rows x 1 columns]

In [23]:
# every row if the matrix will be a different user and every column of the matrix will be a different book containing teh rating of that user for that book

# first we need to concatenate the ratings of the picked user (id = 114368) with the filtered_overlap_data

# Create a DataFrame with the ratings of the picked user

# Filter the original DataFrame by user_id
filtered_data = data[data['user_id'] == '114368']

# Merge unique_books with the filtered data to add 'book_rating' and 'user_id' columns
unique_books = unique_books.merge(filtered_data[['isbn','user_id', 'book_rating', 'book_title']], on='isbn', how='left')

unique_books

,isbn,user_id,book_rating,book_title
0,067179938X,114368,5,Son of the Morning
1,051511779X,114368,10,Born in Shame
2,1551660504,114368,10,Skin Deep
3,051512947X,114368,10,Once upon a Dream
4,084394952X,114368,5,Dark Legend
...,...,...,...,...
95,037379097X,114368,0,"Friendly Persuasion (Blaze, Book 93)"
96,1551662469,114368,5,Mackenzies
97,037379035X,114368,0,"BODY CONTACT (Blaze, 31)"
98,082171838X,114368,5,September Moon
99,051513287X,114368,10,Face the Fire (Three Sisters Island Trilogy)

In [24]:
# concat the unique_books and filtered_overlap_data
filtered_overlap_data = pd.concat([unique_books, filtered_overlap_data])
filtered_overlap_data

              isbn user_id  book_rating          book_title
0       067179938X  114368            5  Son of the Morning
1       051511779X  114368           10       Born in Shame
2       1551660504  114368           10           Skin Deep
3       051512947X  114368           10   Once upon a Dream
4       084394952X  114368            5         Dark Legend
...            ...     ...          ...                 ...
183298  039480001X   11676           10                 NaN
183451  030702153X  153662            9                 NaN
183454  006440031X   11676            7                 NaN
183566  044077456X   11676           10                 NaN
183572  186046310X   11676           10                 NaN

[4220 rows x 4 columns]

In [25]:
filtered_overlap_data['book_rating'] = pd.to_numeric(filtered_overlap_data['book_rating'])

In [26]:
filtered_overlap_data['user_id'].unique()

array(['114368', '153662', '11676', '129358', '69697'], dtype=object)

In [27]:
# create a user_index for each user_id
# category function creates for each user_id a category and then we can use cat.codes to get the index of the user

filtered_overlap_data['user_index'] = filtered_overlap_data['user_id'].astype('category').cat.codes
filtered_overlap_data.iloc[0]

isbn                   067179938X
user_id                    114368
book_rating                     5
book_title     Son of the Morning
user_index                      0
Name: 0, dtype: object

In [28]:
len(filtered_overlap_data['user_index'].unique())

5

In [29]:
# do the same thing with the isbn
filtered_overlap_data['isbn_index'] = filtered_overlap_data['isbn'].astype('category').cat.codes
filtered_overlap_data.iloc[0]

isbn                   067179938X
user_id                    114368
book_rating                     5
book_title     Son of the Morning
user_index                      0
isbn_index                   1008
Name: 0, dtype: object

In [30]:
len(filtered_overlap_data['isbn_index'].unique())

3802

In [31]:
# creating a sparse matrix (doesn't take any memory if there is no rating for a book)

from scipy.sparse import coo_matrix

ratings_coo_mat = coo_matrix((filtered_overlap_data['book_rating'], (filtered_overlap_data['user_index'], filtered_overlap_data['isbn_index'])))

In [32]:
ratings_coo_mat

<5x3802 sparse matrix of type '<class 'numpy.int64'>'
	with 4220 stored elements in COOrdinate format>

In [33]:
print(ratings_coo_mat.row)      # Array of row indices of non-zero values
print(ratings_coo_mat.col)      # Array of column indices of non-zero values
print(ratings_coo_mat.data)     # Array of non-zero values

[0 0 0 ... 1 1 1]
[1008  774 1399 ...   77  694 2422]
[ 5 10 10 ...  7 10 10]

In [34]:
ratings_mat = ratings_coo_mat.tocsr()

In [35]:
filtered_overlap_data[filtered_overlap_data['user_id'] == '114368']

,isbn,user_id,book_rating,book_title,user_index,isbn_index
0,067179938X,114368,5,Son of the Morning,0,1008
1,051511779X,114368,10,Born in Shame,0,774
2,1551660504,114368,10,Skin Deep,0,1399
3,051512947X,114368,10,Once upon a Dream,0,790
4,084394952X,114368,5,Dark Legend,0,1256
...,...,...,...,...,...,...
95,037379097X,114368,0,"Friendly Persuasion (Blaze, Book 93)",0,424
96,1551662469,114368,5,Mackenzies,0,1422
97,037379035X,114368,0,"BODY CONTACT (Blaze, 31)",0,420
98,082171838X,114368,5,September Moon,0,1179
99,051513287X,114368,10,Face the Fire (Three Sisters Island Trilogy),0,794

In [36]:
# setting the chosen user_index to 'my_index'
my_index = 0

In [37]:
# use cosine similarity to see how similar each user is to us

from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(ratings_mat[my_index, :], ratings_mat).flatten()

In [38]:
# how similar are we to ourself?

similarity[my_index]

0.9999999999999981

In [39]:
#how similar are we to the other users?
similarity[2]

0.05096051011181266

In [40]:
# find indices (= position) for 4 users most similar to us
import numpy as np

indices = np.argpartition(similarity, -4)[-4:]

In [41]:
indices

array([1, 0, 3, 4])

In [42]:
# find the user_id for the 4 most similar users

similar_users = filtered_overlap_data[filtered_overlap_data['user_index'].isin(indices)].copy()

In [43]:
#takes ourself out of the list
similar_users = similar_users[similar_users['user_id'] != '114368']

In [44]:
book_recs = similar_users.groupby('isbn').book_rating.agg(['count', 'mean'])

In [45]:
book_recs

            count  mean
isbn
000225929X      1  10.0
000617891X      1   0.0
000648302X      1   8.0
000649840X      1   8.0
002411510X      1   8.0
...           ...   ...
9879397274      1   7.0
987960170X      1   5.0
9974643058      1   7.0
9997511417      1   0.0
B0000T6KHI      1   0.0

[3597 rows x 2 columns]

In [46]:
# include book_titles in book_recs
# Drop duplicates in the data DataFrame based on the 'isbn' column
unique_isbn = average_rating[['isbn', 'book_title', 'rating_count', 'mod_titles']].drop_duplicates(subset='isbn')

# Merge book_recs with the unique_data to add 'book_title' column
book_recs = book_recs.merge(unique_isbn, on='isbn', how='inner')

In [47]:
book_recs

,isbn,count,mean,book_title,rating_count,mod_titles
0,000225929X,1,10.0,MARBLE HEART,4,MARBLE HEART
1,000617891X,1,0.0,At the Stroke of Twelve,2,At the Stroke of Twelve
2,000648302X,1,8.0,Before and After,14,Before and After
3,000649840X,1,8.0,Angelas Ashes,89,Angelas Ashes
4,002411510X,1,8.0,Walden Two (Trade Book),13,Walden Two Trade Book
...,...,...,...,...,...,...
3592,9879397274,1,7.0,Desde Mi Cielo,6,Desde Mi Cielo
3593,987960170X,1,5.0,Kolon,2,Kolon
3594,9974643058,1,7.0,La piel dura,2,La piel dura
3595,9997511417,1,0.0,A Bundle for the Toff,2,A Bundle for the Toff
3596,B0000T6KHI,1,0.0,Three Fates,2,Three Fates

### Ranking book rocemmendations ###

#### create adjusted book count, e.g. normalized for the count books appeared among people like us vs the rest of people ####

In [48]:
# Find books that are specifically tailored to our taste
book_recs['adjusted_count'] = book_recs['count'] * (book_recs['count'] / book_recs['rating_count'])

In [49]:
# how many times was the book recommended by users like us?
book_recs['score'] = book_recs['mean'] * book_recs['adjusted_count']

In [50]:
book_recs.head()

,isbn,count,mean,book_title,rating_count,mod_titles,adjusted_count,score
0,000225929X,1,10.0,MARBLE HEART,4,MARBLE HEART,0.250000,2.500000
1,000617891X,1,0.0,At the Stroke of Twelve,2,At the Stroke of Twelve,0.500000,0.000000
2,000648302X,1,8.0,Before and After,14,Before and After,0.071429,0.571429
3,000649840X,1,8.0,Angelas Ashes,89,Angelas Ashes,0.011236,0.089888
4,002411510X,1,8.0,Walden Two (Trade Book),13,Walden Two Trade Book,0.076923,0.615385

In [51]:
# take out books that we have already read
book_recs = book_recs[~book_recs['isbn'].isin(unique_books['isbn'])]

In [52]:
# removing duplicate titles
book_recs = book_recs[~book_recs['book_title'].isin(unique_books['book_title'])]

### Adjusting the amount of similar users and mean in the following 2 cells affects how many recommendations we find:

In [53]:
# at least 1 user similar to us have to have read the book
book_recs = book_recs[book_recs['count'] > 1]

In [54]:
book_recs = book_recs[book_recs['mean'] > 1]

In [55]:
top_10_recs = book_recs.sort_values('score', ascending=False).head(10)  
top_10_recs

,isbn,count,mean,book_title,rating_count,mod_titles,adjusted_count,score
938,067981485X,2,5.5,Teenage Mutant Ninja Turtles: Don't do drugs :...,2,Teenage Mutant Ninja Turtles Don t do drugs ...,2.000000,11.000000
1120,084232044X,2,4.0,Kerry (Grace Livingston Hill),2,Kerry Grace Livingston Hill,2.000000,8.000000
253,037307977X,2,8.5,Heart Of Midnight (Silhouette Intimate Moments...,5,Heart Of Midnight Silhouette Intimate Moments...,0.800000,6.800000
1981,1578565731,2,8.5,Boo,5,Boo,0.800000,6.800000
1952,1576737659,2,4.0,It Had to Be You,3,It Had to Be You,1.333333,5.333333
1708,1562470310,2,5.0,"Happy Birthday, Felicity! A Springtime Story, ...",4,Happy Birthday Felicity A Springtime Story ...,1.000000,5.000000
1983,1578566436,2,4.5,Three Roads Home: Stories of First Love & Seco...,4,Three Roads Home Stories of First Love Seco...,1.000000,4.500000
1607,1558530908,2,5.0,New England Ghosts (American Ghosts Series),5,New England Ghosts American Ghosts Series,0.800000,4.000000
1395,1551667045,2,5.5,Down By The River,6,Down By The River,0.666667,3.666667
1825,1569870225,2,2.5,The Tale of Mr. Jeremy Fisher (Peter Rabbit an...,3,The Tale of Mr Jeremy Fisher Peter Rabbit an...,1.333333,3.333333