## No Need To Run This Notebook!
This notebook is only there to document what was done during the data preprocessing.
In the absolute exceptional emergency of needing to run it again, please check file paths.
Some may need adding "../" before them.

In [2]:
%run import_data

Continuing with existing version of data folder
Goodreads dataset loaded successfully as books_goodreads
Pandas dataframes (books_goodreads, books_big, book, users, ratings) loaded successfully
Columns in DataFrames 'users' and 'ratings' renamed
You can use the DataFrames 'books' or 'books_big' - they are exactly the same (big) dataset
Ready to go!

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226493 entries, 0 to 226492
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 226493 non-null  object
 1   book_title           226493 non-null  object
 2   book_author          226322 non-null  object
 3   year_of_publication  226493 non-null  int64
 4   publisher            226493 non-null  object
 5   image_url_s          226493 non-null  object
 6   image_url_m          226493 non-null  object
 7   image_url_l          226493 non-null  object
 8   genre                195719 non-null  object
dtypes: int64(1), object(8)
memory usage: 15.6+ MB

In [4]:
books.shape

(226493, 9)

In [5]:
# There are missing values in the columns 'book_author' and 'genre'
# Both of them are string values
# For the deployment, we will turn those into empty strings ""ArithmeticError
books['genre'] = books['genre'].replace(pd.NA, "")
books['book_author'] = books['book_author'].replace(pd.NA, "")

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226493 entries, 0 to 226492
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 226493 non-null  object
 1   book_title           226493 non-null  object
 2   book_author          226493 non-null  object
 3   year_of_publication  226493 non-null  int64
 4   publisher            226493 non-null  object
 5   image_url_s          226493 non-null  object
 6   image_url_m          226493 non-null  object
 7   image_url_l          226493 non-null  object
 8   genre                226493 non-null  object
dtypes: int64(1), object(8)
memory usage: 15.6+ MB

In [7]:
books.year_of_publication.describe()

count    226493.000000
mean       1993.548105
std           8.496009
min        1806.000000
25%        1989.000000
50%        1996.000000
75%        2000.000000
max        2021.000000
Name: year_of_publication, dtype: float64

In [11]:
books.to_csv("data/books_for_ivan.csv", sep=';', encoding='utf-8', index=False)