In [23]:
# import streamlit as st
import pandas as pd
from collab_filtering_recommender import recommender_cf
from loading_datasets import load_data

In [26]:
# load the data
books_ratings, books_users_ratings, ratings_15plus, streamlit_df = load_data()

# Combine book title and author into a single column
books_users_ratings['title_author'] = books_users_ratings['book_title'] + ' by ' + books_users_ratings['book_author']

In [27]:
books_users_ratings['user_id'] = books_users_ratings['user_id'].astype(int)
books_users_ratings['user_id'] = books_users_ratings['user_id'].astype(str)

books_users_ratings['individual_rating'] = books_users_ratings['individual_rating'].astype('int32')
books_users_ratings['avg_rating'] = books_users_ratings['avg_rating'].astype('int32')
books_users_ratings['nr_ratings'] = books_users_ratings['nr_ratings'].astype('int32')
books_users_ratings['nr_readers'] = books_users_ratings['nr_readers'].astype('int32')

In [32]:
streamlit_df = books_users_ratings[(books_users_ratings['nr_ratings'] > 5) & (books_users_ratings['avg_rating'] > 4)]

In [33]:
streamlit_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 416836 entries, 20 to 917858
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 416836 non-null  object
 1   book_title           416836 non-null  object
 2   book_author          416836 non-null  object
 3   user_id              416836 non-null  object
 4   individual_rating    416836 non-null  int32
 5   avg_rating           416836 non-null  int32
 6   nr_ratings           416836 non-null  int32
 7   nr_readers           416836 non-null  int32
 8   genre                416836 non-null  object
 9   year_of_publication  416836 non-null  int64
 10  publisher            416836 non-null  object
 11  annotations          272076 non-null  object
 12  mod_title            416836 non-null  object
 13  mod_author           416836 non-null  object
 14  mod_publisher        416836 non-null  object
 15  image_url_s          416836 non-null  object
 16  image_url_m          416836 non-null  object
 17  image_url_l          416836 non-null  object
 18  country              400257 non-null  object
 19  title_author         416836 non-null  object
dtypes: int32(4), int64(1), object(15)
memory usage: 60.4+ MB

In [34]:
streamlit_df.to_csv("../data/streamlit_df.csv", index=False, encoding="utf-8-sig", sep=";")

In [4]:
goodreads_original = pd.read_csv("../data/goodreads_original.csv", encoding="utf-8", sep=",")
goodreads_detailed = pd.read_csv("../data/goodreads_detailed.csv", encoding="utf-8", sep=",")

In [6]:
goodreads_original.head(1)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher\t\t\t
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.\t\t\t

In [7]:
goodreads_detailed.head(1)

,bookid,title,authors,average_rating,isbn13,language,num_pages,ratings_count,text_reviews_count,publication_date,publisher,annotation,genre
0,1,Harry Potter and the Half-Blood Prince (Harry ...,"['J.K. Rowling', 'Mary GrandPré']",4.57,9780439785969,en,652,2095690,27591,2003,Scholastic Inc.,No annotation found,['No genre found']

In [14]:
# Select specific columns to merge from both DataFrames
goodreads_original_subset = goodreads_original[['isbn', 'isbn13']]
goodreads_detailed_subset = goodreads_detailed[['genre', 'isbn13']]

# Merge on the 'key' column
goodreads_st = pd.merge(goodreads_original_subset, goodreads_detailed_subset, on='isbn13', how='inner')

# Drop rows with any missing values
goodreads_st = goodreads_st.dropna()

In [15]:
goodreads_st = goodreads_st.drop(columns='isbn13')

In [16]:
goodreads_st.head()

         isbn                 genre
0  0439785960    ['No genre found']
1  0439358078    ['No genre found']
2  0439554896  ['Juvenile Fiction']
3  043965548X    ['No genre found']
4  0439682584    ['No genre found']

In [20]:
data = books_users_ratings.copy()

In [21]:
data.head()

,isbn,book_title,book_author,user_id,individual_rating,avg_rating,nr_ratings,nr_readers,genre,year_of_publication,publisher,annotations,mod_title,mod_author,mod_publisher,image_url_s,image_url_m,image_url_l,country,title_author
0,590085417,Heidi,Johanna Spyri,102967,8,8,2,3,"['Juvenile Fiction', 'Fiction', ""Children's Li...",2021,Scholastic,Heidi (Fictitious character : Spyri),heidi,johanna spyri,scholastic,http://images.amazon.com/images/P/0590085417.0...,http://images.amazon.com/images/P/0590085417.0...,http://images.amazon.com/images/P/0590085417.0...,United States,Heidi by Johanna Spyri
1,590085417,Heidi,Johanna Spyri,111702,8,8,2,3,"['Juvenile Fiction', 'Fiction', ""Children's Li...",2021,Scholastic,Heidi (Fictitious character : Spyri),heidi,johanna spyri,scholastic,http://images.amazon.com/images/P/0590085417.0...,http://images.amazon.com/images/P/0590085417.0...,http://images.amazon.com/images/P/0590085417.0...,United States,Heidi by Johanna Spyri
2,590085417,Heidi,Johanna Spyri,135473,0,8,2,3,"['Juvenile Fiction', 'Fiction', ""Children's Li...",2021,Scholastic,Heidi (Fictitious character : Spyri),heidi,johanna spyri,scholastic,http://images.amazon.com/images/P/0590085417.0...,http://images.amazon.com/images/P/0590085417.0...,http://images.amazon.com/images/P/0590085417.0...,NaN,Heidi by Johanna Spyri
3,68107468X,Edgar Allen Poe Collected Poems,Edgar Allan Poe,204964,8,8,2,2,['Poetry'],2020,Bausch & Lombard,NaN,edgar allen poe collected poems,edgar allan poe,bausch lombard,http://images.amazon.com/images/P/068107468X.0...,http://images.amazon.com/images/P/068107468X.0...,http://images.amazon.com/images/P/068107468X.0...,United States,Edgar Allen Poe Collected Poems by Edgar Allan...
4,68107468X,Edgar Allen Poe Collected Poems,Edgar Allan Poe,267830,8,8,2,2,['Poetry'],2020,Bausch & Lombard,NaN,edgar allen poe collected poems,edgar allan poe,bausch lombard,http://images.amazon.com/images/P/068107468X.0...,http://images.amazon.com/images/P/068107468X.0...,http://images.amazon.com/images/P/068107468X.0...,United States,Edgar Allen Poe Collected Poems by Edgar Allan...

In [ ]:

# Streamlit app
st.title("MatchRead - Hybrid Book Recommender")


# Multiselect widget with combined title and author as options
liked_books = st.multiselect(
    'Liked Books',
    options=books_users_ratings['title_author'].unique()
)

# Display the selected options
st.write("You selected:", liked_books)

if st.button('Get Recommendations'):
    if liked_books:
        # Convert liked books to their ISBNs
        liked_books_isbn = books_users_ratings[books_users_ratings['book_title'].isin(liked_books)]['isbn'].unique()
        recommendations = recommender_cf(liked_books_isbn)
        
        st.write("Recommended Books:")
        for _, row in recommendations.iterrows():
            st.image(row['image_url_m'], width=100)
            st.write(f"**{row['book_title']}**")
    else:
        st.write("Please select at least one book.")

In [ ]:
load_data()[3]